[2015-03-14 10:28] donv opened #703 "The HAXM installer for OS X has changed name"
[code]
We need to run the right installer during ```ruboto setup```.

[2015-03-16 20:30] daneb commented on #426
Hi Uwe

What are the numbers? That is - how many devices are we looking at?

Thanks
Dane

On Sat, Mar 14, 2015 at 10:39 AM, Uwe Kubosch <notifications@github.com>
wrote:

--

±± http://www.codedtrue.com ±±

[2015-03-16 20:32] daneb commented on #703
Will have a look!

[2015-03-16 21:48] donv commented on #703
Great!

[2015-03-17 07:57] sri-sankl opened #704 "How can I help?"
Hi!

I'd like to contribute to the Ruboto project.

My earlier experience with Ruby, Java, Android and Ruboto: Ruby: 1.5 years, Java: 1.8 years

My experience with HTML, CSS, JavaScript, and Jekyll: 3 years

My experience using git and GitHub: 3 years

My other interests and passions:

[2015-03-17 08:00] donv commented on #704
Hi @sri-sankl !

Welcome to the project!

As a first step, please install a Ruboto development environment and complete a few of the tutorials.

Please let me know here if you have any questions or suggestions for improvement of the documentation.

[2015-03-17 08:36] donv opened #705 "Allow overriding default gems like "json""
Currently we get an error when you try to bundle json since the classes are already present in the jruby-core jar.

We need a way to avoid packaging the files for the default gem in the final classes.dex when they are bundled in libs/bundle.jar.

The files should probably still be in libs/jruby-core, but I am not sur exactly how to do this.

I will temporarily ignore the json gem in bundles to gem

[2015-03-17 08:42] sri-sankl commented on #704
Thanks for the reply..
I will start installing Ruboto and I will try to impletement some tutorials.

[2015-03-17 09:16] donv opened #706 "Avoid duplicate files in bundle vs stdlib"
Quick workaround for #705 :  Remove duplicate filen in bundle.jar vs jruby-stdlib-*.jar.

[2015-03-17 09:19] #706 closed

[2015-03-17 09:44] donv opened #707 "Choose the latest build-tools in "ruboto setup""
Currently we trust the Dir.[] method to order the directories, but it is not guarantied.

Sort by Gem::Version instead.

[2015-03-17 09:54] #707 closed

[2015-03-18 12:04] mjerem34 opened #708 "How can I help?"
Hi!

I'd like to contribute to the Ruboto project.

My earlier experience with Ruby, Java, Android and Ruboto:
I write tutorials on ruby and rails on : unruby.com
I don't know Java and I discover Ruboto but il vers interrested by Android development. I have an Nexus 4...
My experience with HTML, CSS, JavaScript, and Jekyll:
I've an little experience on HTML CSS and JavaScript. I dont know Jekyll.

[2015-03-18 12:09] donv commented on #708
Hi @mjerem34 !

Welcome to the project!

Looks like we can really use your help.  Out "Getting started" documentation needs a full rewrite, and any help you can lend would be great.

To get started you should set up the Ruboto development environment and complete a few of the tutorials.

Please tell me when you have questions or suggestions to improvements in the tools or documentation.

Commit ri

[2015-03-18 16:13] mjerem34 commented on #708
Thanks for accept me on team !

I'll do the tutorials.
Which part of "Getting started" is necessary to rewrite ?

[2015-03-19 08:52] donv commented on #708
Hi @mjerem34 !

Regarding "Getting started":  You tell me what you think needs to be done.  As a newcomer, you can see what is missing to get new developers started with Ruboto.  I can help you find the documentation you need, and you can think about where to put it and how to organize it so it is easy for new developers to find it.

[2015-03-19 09:15] mjerem34 commented on #708
Hi @donv !

Thank you for your support. I found the documentation but it was very hard to find it.
I reflect for the section "Getting started" and tell you when i have something to tell you.

Ps: Sorry for my poor English, i'm French :)

[2015-03-22 00:18] donv commented on #426
Hi @daneb !

I just collect the numbers from http://developer.android.com/about/dashboards/index.html

[2015-03-23 18:31] sagunshre opened #710 "how to wnable uploading or taking picture on webview"

[2015-03-25 09:50] donv commented on #710
Hi @sagunshre !

You could take a look at the SpyCam tutorial:

https://github.com/ruboto/ruboto/wiki/Tutorial%3A-Making-a-spycam

It uses the camera at least.  How to do it in a WebView, I am not sure.  How would you do it with Java?

I found some examples Googling:

https://www.google.no/?q=android+webview+camera+capture

http://androidexample.com/Open_File_Chooser_With_Camera_Option_In_Webview_

[2015-03-25 17:45] sagunshre commented on #710
hi @donv thanks
it would be great if you could translate java to ruby. I've been stuck on this for more than a week.

[2015-03-25 22:34] donv commented on #710
Do you have a GitHub project and perhaps some description of what you want to make?

[2015-03-25 23:18] mjerem34 commented on #708
Hi @donv !

Thank you for your support. I found the documentation but it was very hard to find it.
I reflect for the section "Getting started" and tell you when i have something to tell you.

EDIT : What you think about translate all the "Getting started" section in french ?
And at the same time share it on my blog : Unruby.com ?

Ps: Sorry for my poor English, i'm French :)

[2015-03-26 08:20] daneb commented on #703
Sorry Uwe, I will try get to this on the weekend.
My Mac power cable broke, and trying to source a supplier! URGH

On Mon, Mar 16, 2015 at 11:48 PM, Uwe Kubosch <notifications@github.com>
wrote:

--

±± http://www.codedtrue.com ±±

[2015-03-27 03:29] sagunshre commented on #710
@donv just  a simple webview project for loading web application. so, i need to be able to upload a picture and also be able to take a picture from camera when i click on html file input

[2015-03-27 17:24] ghost opened #712 "can´t install ruboto"
i am using utopic unicorn and the version of ruby is 2.2.0 and when i try to install seems that are a problem with the path to download. today at nigth i will post the output error message.

[2015-03-28 16:22] webofbits commented on #712
ERROR:  Error installing ruboto:
	invalid gem: package metadata is missing in /usr/local/rvm/gems/ruby-2.2.0/cache/rubyzip-1.1.7.gem

[2015-03-29 15:56] sagunshre commented on #710
@donv my oncreate method looks something like this

def onCreate(bundle)
  super
  web = WebView.new(self)
  web.setWebViewClient(WebViewClient.new)
  web.settings.use_wide_view_port = true
  web.settings.java_script_enabled = true
  web.settings.built_in_zoom_controls = true
  web.load_url 'http://www.example.com'
  self.content_view = web
  rescue Exception
  puts "Exception creating activity: #

[2015-04-05 08:07] donv commented on #710
Working on getting a new release out.  Will try to look at this before the next release.

[2015-04-05 08:15] donv commented on #708
Hi @mjerem34 !

Thanks for looking at the documentation.  Yes, it can be hard to find, and that is why we need to improve it.  Any little improvement helps :)  Start with small steps, and draw the big picture as you get the hang of it.

Translating to french sounds good to me if you can make it easy to switch between English and French.

[2015-04-05 08:17] donv commented on #705
In Ruboto 1.3.0 files in gems that duplicate files in stdlib are removed from bundle.jar.

[2015-04-05 08:19] donv commented on #704
Hi @sri-sankl !

How are you doing?  Have you tried any of the tutorials?

[2015-04-05 08:20] donv commented on #703
Hi @daneb !

How are you doing with this?

[2015-04-05 08:21] donv commented on #694
Hi @webofbits !

How are you doing with the tutorials?  Have you tried some of them?

[2015-04-05 08:23] donv commented on #690
Added support for JRuby 1.7.19, so 1.7.18 is a bit obsolete.

[2015-04-05 08:23] #690 closed

[2015-04-05 08:25] #689 closed

[2015-04-05 08:26] donv opened #713 "Add support for Android 5.1 Lollipop"

[2015-04-05 08:28] donv commented on #687
Anyone want to contribute to keeping Android 2.3 api level 10 support?  Else it will be removed in Ruboto 1.3.1.

[2015-04-05 08:30] donv commented on #686
Hi @pchow100 !

Did you make a trimmed-down version I can test with?  New Ruboto release coming today, and I can work more on getting Android 5 OK after that.

[2015-04-05 08:34] donv commented on #684
Hi @StoRRica !

Sorry for the late response.  Busy with a new release coming later today.  Could you add your comments for the Facial Recognition App to the #693 issue?

Could you also try the tutorials with JRuby with the new Ruboto 1.3.0 release later today?  I think it has been fixed there.

[2015-04-05 08:49] donv commented on #675
Anyone want to look at this for the 1.3.1 release?

[2015-04-05 08:51] donv commented on #673
Hi @rayto !

How are you doing?  Have you tried more of Ruboto?  Please ask if you need any help.  I am releasing Ruboto 1.3.0 today, and I will work on the tutorials after that.

[2015-04-05 08:52] donv commented on #670
Hi @DHFE !

Did you get the emulator going?  Did you try the "ruboto emulator" command?

[2015-04-05 08:54] donv commented on #668
Hi @tak1n !

Did you solve your problem?  Ruboto 1.3.1 (released later today) may solve your problem.

[2015-04-05 08:56] donv commented on #666
Anyone interested in helping with this?  I am thinking Ruboto T-shirts to contributors as the first priority.

Any thoughts are welcome.

[2015-04-05 08:57] donv commented on #662
Hi @aripoya !

Did you try any of the tutorials?

[2015-04-05 09:00] donv commented on #660
Anyone want to take a shot at this?  Should be simple.

[2015-04-05 09:01] donv commented on #659
Hi @bennythejudge !

Sorry for the very late reply.  Have you tried any of the Ruboto tutorials?

[2015-04-05 09:04] donv commented on #655
Hi all!

I am releasing Ruboto 1.3.0 later today.  Could you try it and see if you still have the problem?

[2015-04-05 09:04] donv commented on #651
Hi @arantessergio !

Have you tried any of the tutorials?

[2015-04-05 09:07] donv commented on #650
Well, nothing much happening here :smile:

The #ruboto channel is tiny and we get like one question a month :)

Gitter may still be a good idea.

[2015-04-05 09:09] donv commented on #647
src/environment.rb is now run after JRuby initialization.

[2015-04-05 09:09] #647 closed

[2015-04-05 09:10] donv commented on #640
Hi @sg552 !

How are you doing?  Have you tried any of the Ruboto tutorials?

[2015-04-05 09:12] donv commented on #638
We could definitely identify some common distros and install the needed packages there.

Anyone want to work on this?

[2015-04-05 09:13] donv commented on #635
Hi!

Any progress on this?

[2015-04-05 09:15] donv commented on #634
Hi @IgorJorobus !

Sorry for the very late reply!  I am releasing Ruboto 1.3.0 later today.  Could you try it and see if it works for you?

[2015-04-05 09:17] donv commented on #632
Hi @arthurkarganyan and @daneb !

Any progress on improving the site?

[2015-04-05 09:18] donv commented on #631
Hi @pynixwang !

Sorry for not getting back to you earlier.  Did you solve your problem?

[2015-04-05 09:19] donv commented on #627
Can't remember what this issue is anymore.  Closing.

[2015-04-05 09:19] #627 closed

[2015-04-05 09:23] donv commented on #590
Hi @sid-arora !

I am assuming you have moved on from this :)  Feel free to reopen or contact us in any way if you need help.

[2015-04-05 09:23] #590 closed

[2015-04-05 09:24] donv commented on #589
Hi @devaroop !

Sorry for not getting back to you earlier.  How is your Ruboto development coming along?

[2015-04-05 09:26] donv commented on #581
Hi @bobquest33 !

Have you tried any more Ruboto development?  Feel free to contact us if you have any questions or need help in any way.

[2015-04-05 09:26] #581 closed

[2015-04-05 09:28] donv commented on #578
Hi @jaunesarmiento and @rscottm !

I assume you have moved on from this issue :smile:

Feel free to reopen or start a new issue if you still have plans for this.

[2015-04-05 09:28] #578 closed

[2015-04-05 09:30] donv commented on #569
Hi @SatishTalim !

Do you have time to look at the windows environment setup documentation?  Commit rights will be given :)

[2015-04-05 09:37] donv commented on #146
Anyone want to do this?  If not, I'll close the issue.  I cannot do this myself since I am directly involved in the project, and this violates the Wikipedia rules.

[2015-04-05 09:38] donv commented on #712
Hi @webofbits !

I'll release Ruboto 1.3.0 later today.  Could you try it and see if it works for you?

[2015-04-05 09:39] donv commented on #697
Hi @webofbits !

Sorry for the late reply.  Could you try with Ruboto 1.3.0 released later today?

[2015-04-05 09:40] donv commented on #692
Hi @awernick !

Did @rscottm 's suggestion help you?

[2015-04-05 09:41] donv commented on #685
Hi @jay2452 !

Have you tried any of the Ruboto tutorials?

[2015-04-05 09:42] donv commented on #683
Hi @ebruner !

Have you tried any of the Ruboto tutorials?

[2015-04-05 09:45] donv commented on #681
Hi @xecutioner !

This is a warning from RubyGems.  I am not sure why it happens, but it is not directly related to Ruboto.  It happens with many other projects as well.

I am not sure how to deal with the warning, and it does work, just a bit annoying.

Closing this issue for now.  Please comment if you have any insight in how to handle this.

[2015-04-05 09:45] #681 closed

[2015-04-05 09:46] donv commented on #669
Hi @lobida @DHFE and @niamster !

Did you solve this problem?  I am releasing Ruboto 1.3.0 later today.  Could you try with that and see if it works for you?

[2015-04-05 09:48] donv commented on #665
Hi @gvaresh !

Sorry for the late reply!

The first step for new contributors is to install Ruboto and try some of the tutorials.  Can you do that?

[2015-04-05 09:51] donv commented on #664
Hi @pmpbar !

Sorry for the late reply.  This feature has now been added to Ruboto 1.3.0 due later today.  See https://github.com/ruboto/ruboto/issues/696 .  Could you try it and see if it works for you?

[2015-04-05 09:52] donv commented on #663
Hi @zackp30 and @abdias9 !

I'll be releasing Ruboto 1.3.0 later today.  Could you try it and see if it works for you?

[2015-04-05 09:58] donv commented on #690
All tests are green for JRuby 1.7.19 and Android api level 19.

[2015-04-05 10:33] donv opened #714 "Update the tutorials"
Each tutorial should be tested.  Please contribute!  Pick a tutorial and mark is as completed below:

- [ ] Tutorial: Adding a startup splash - Updated for 0.15.0!
- [ ] Tutorial: Detect and display the connected WIFI network - Updated for 0.13.0!
- [ ] Tutorial: Using an SQLite database with ActiveRecord
- [ ] Tutorial: Get current GPS position
- [ ] Tutorial: Using Bundler
- [ ] Tutorial: Dialog

[2015-04-05 12:57] pynixwang commented on #631
@donv

sorry, I 'm do something other,maybe I can 't back. really sorry.

[2015-04-05 13:02] donv commented on #631
No problem.  Thanks for reporting the problem.

[2015-04-05 13:02] #631 closed

[2015-04-05 13:46] webofbits commented on #712
gem install ruboto -v '1.3.1'
ERROR:  Could not find a valid gem 'ruboto' (= 1.3.1) in any repository

[2015-04-05 13:52] donv commented on #712
gem install ruboto -v 1.3.0

or just

    gem install ruboto

[2015-04-05 13:58] zackp30 commented on #663
Of course! I'll be happy to help. :smile:

[2015-04-05 19:22] pmpbar commented on #664
I need to set up another folder. I'll try it in the next week or so.

[2015-04-06 07:15] Zhomart opened #715 "ruboto setup -y: FATAL -- : undefined method `[]' for nil:NilClass (NoMethodError)"
Ruby version: `=> jruby-1.7.19 [ x86_64 ]` by rvm
OSX: `10.10.3`
Ruboto version: `1.3.0`

[code]

[2015-04-06 08:07] sg552 commented on #640
hi @donv
  I am sorry, I just setup the Ruboto environment, but failed to implement an App , because I didn't find any guide ( like http://guides.rubyonrails.org ) .
  From Oct , 2014  , I chose Titanium to develop mobile apps.
  So I don't think there's chance to use Ruboto in my team. Should I close this issue?

[2015-04-06 11:15] donv commented on #715
Hi @Zhomart !

Thanks for the report!  I'll take a look as soon as I can.

[2015-04-06 15:27] headius commented on #146
I could do it. I'm impressed how far you've carried this issue :-)

[2015-04-06 15:28] headius commented on #146
Hmm, on second thought I might be too connected to the project too.

[2015-04-07 12:35] hirschnase opened #716 "New App with no custom code terminates directly after start (java.lang.NoSuchMethodException: makeDexElements)."
I want to learn Ruboto and tried to make first steps with Ruboto 1.3.0 and the newest Android SDK installed on OS X. I generated a new project with

ruboto gen app --package org.ruboto.example.quick_start --target 19

and then connect my Samsung S5 with Android 5.0 over USB and run

rake install start

The app compiles and is being deployed to the phone and then started.

What I did not expect is,

[2015-04-07 12:47] donv commented on #716
Hi @hirschnase !

Thanks for the report!  This is of course a bug.

Did this happen with an emulator as well?  You can start an emulator by running

    ruboto emulator

in your project directory.  Be sure to disconnect your phone when developing with an emulator.

[2015-04-07 13:12] hirschnase commented on #716
Hi @donv,

thanks for you fast response! After installing the RubotoCore-release-1.0.3.apk in the emulator, it works like expected! I installed Ruboto Core on my S5, but this does not make a difference.

[2015-04-07 13:22] hirschnase commented on #716
Btw the Ruboto Core App (v1.0.5) also terminates immediately when I start it on the Samsung S5 device...

[2015-04-07 22:47] donv commented on #716
I suspect this is a duplicate of issue #686 .

[2015-04-08 00:43] webofbits commented on #712
'''root@cristiano:/home/cristiano# rvm use ruby
Using /usr/local/rvm/gems/ruby-2.2.0
root@cristiano:/home/cristiano# gem install ruboto -v 1.3.0
ERROR:  Error installing ruboto:
	invalid gem: package metadata is missing in /usr/local/rvm/gems/ruby-2.2.0/cache/rubyzip-1.1.7.gem
root@cristiano:/home/cristiano# gem install ruboto
ERROR:  Error installing ruboto:
	invalid gem: package metadata is miss

[2015-04-08 00:45] webofbits commented on #712
maybe the version of ruby is not compatible with ruboto?

[2015-04-08 00:50] webofbits commented on #712
or can be something with my system i think...

[2015-04-08 00:52] webofbits commented on #697
i'll try to get a time to do it.

[2015-04-08 01:39] webofbits commented on #712
i got it using the version 1.9.3 of ruby.

[2015-04-08 07:32] hirschnase commented on #716
Hmm, not sure. I did not put the core inside the app and I also do not see the 'Get Ruboto Core' image when I start the app. It just terminates. Let me know if I can help debug further or provide more information/help testing with my device.

[2015-04-08 15:55] bromine0x23 commented on #655
It seems caused by the path format between Windows and UNIX-like systems. I notice that "bin\dexedLibs" directory is empty, so I guess it's some wrong when building.

So I check and modify the `build.xml#169` which content is
[code]
to
[code]
Then everthing is OK.

[2015-04-08 19:31] andrewhavens opened #717 "ruboto setup -y - FATAL -- : undefined method `slice' for nil:NilClass"
I am trying out Ruboto for the first time, based on the instructions in this blog post: http://ruboto.org/news/2015/04/05/Ruboto-1.3.0-release-doc.html.

[code]

[2015-04-09 08:54] donv commented on #717
Hi @andrewhavens !

Thanks for the report.  Looks like we have a file name mismatch for the HAXM setup.

I am really swamped this week, so I will probably not have time to look at it before the weekend.

Feel free to look at the code and send a pull request, and I will merge it and make a new release.

[2015-04-09 20:20] daneb commented on #703
Hi @donv

I see the code supports IntelHAXM* (which is pretty spot on), but assumes there is only one DMG.
Looks easy enough - set file location based on OS version.

Will submit a patch before Sunday.

[2015-04-09 20:52] daneb commented on #703
Opened a branch with proposed solution.
Will test and let you know

[2015-04-10 09:21] daneb commented on #146
I can do this. Uwe what is needed?

On Mon, Apr 6, 2015 at 5:28 PM, Charles Oliver Nutter <
notifications@github.com> wrote:

--

±± http://www.codedtrue.com ±±

[2015-04-10 10:08] donv commented on #146
Great @daneb !

I thought a general description of the purpose, status, and history of the project is a good start :smile:

A link from the JRuby page is essential:  http://en.wikipedia.org/wiki/JRuby

You need to create an account on Wikipedia and log in.  When you do a search for Ruboto, you get a link to create a new page.

What do you think?

[2015-04-10 10:29] daneb commented on #146
Sounds doable! I will do so this weekend.

On Fri, Apr 10, 2015 at 12:08 PM, Uwe Kubosch <notifications@github.com>
wrote:

--

±± http://www.codedtrue.com ±±

[2015-04-10 10:30] daneb commented on #146
Sorry obvious question - where would I get the information?
Should  I troll our wiki and get the bits and pieces from there.

On Fri, Apr 10, 2015 at 12:29 PM, Dane Balia <enteritos@gmail.com> wrote:

--

±± http://www.codedtrue.com ±±

[2015-04-10 11:22] donv commented on #146
That is a very good question.  You should mentally prepare for some Wikipedia bureaucracy including documentation of references.  Maybe we need to write a Ruboto page containing the history we want documented :smile:

You should also use other sites as references like RubyGems release history for the ruboto and ruboto-code gems, GitHub for project start and technical history, including the milesto

[2015-04-10 14:04] donv commented on #703
Great @daneb !  Looking forward to it :smile:

[2015-04-10 16:52] IgorJorobus commented on #635
Hi donv, honestly I never tried again. I'm going to take a look at this issue this weekend.

[2015-04-12 20:20] daneb commented on #146
Wow and you were not kidding.
There is going to have to be some research into just submitting an article.

Maybe while I do, in the mean time can we create a GIST to move forward
with the history we want documented?

On Fri, Apr 10, 2015 at 1:22 PM, Uwe Kubosch <notifications@github.com>
wrote:

--

±± http://www.codedtrue.com ±±

[2015-04-12 21:07] IgorJorobus commented on #635
Working with the current version.

[2015-04-12 21:07] #635 closed

[2015-04-13 07:06] donv commented on #146
Hi @daneb !

Could you start a "History" page on the web perhaps?  You have commit rights to the ruboto.github.com repository.

[2015-04-13 08:26] donv commented on #635
Great!

[2015-04-17 14:37] gfowley opened #719 "Webview addJavaScriptInterface"
Thank you for the latest 1.3.0 release, it's motivated me to return to an unfinished project.
I have run into a problem using Webview I hope I can get some help with...

I am using a Webview and Javascript to provide a custom user interface. The Javascript code needs to get data from the Activity via an object made available to Javascript with Webview.addJavaScriptInterface() :
See [http://develop

[2015-04-17 15:00] gfowley commented on #719
After some random Googling I found this in the proguard-project.txt file in Ruboto-IRB:
[code]
That file is provided by the Android SDK. It seems that [ProGuard](http://proguard.sourceforge.net/) will strip methods from the interface class because they are not referenced by other bytecode.
I changed proguard-project.txt as recommended:
[code]
And also:
[code]
Neither made a difference to the Javas

[2015-04-17 16:47] gfowley commented on #719
Nope, that wasn't it.

Proguard is not run for debug builds, only for release builds. Even then it's disabled by default in project.properties:
[code]

[2015-04-18 04:54] NaN1488 commented on #717
@donv @andrewhavens

I fixed it. Just replace this line https://github.com/ruboto/ruboto/blob/1.3.0/lib/ruboto/util/setup.rb#L200

with this:
[code]

Not elegant but at least I have this output
[code]
I let the pull request to you guys

[2015-04-18 22:59] donv opened #720 "Install 64 bit system images for Android 5"

[2015-04-19 07:28] donv commented on #719
Hi @gfowley !

Taking a look now.

[2015-04-19 09:46] donv commented on #719
No luck, yet.  I get the same behaviour as you.

[2015-04-19 10:43] donv commented on #719
Woohoo!  Some success!  I am able to call a method on a Ruby object implementing a Java interface.

Still not sure why none of the other examples work, but I'll focus on something that works :smile:

If you add this line on

[code]
then you can call

[code]

and you will get "run" in your stdout log.

You should be able to create your own interfaces for other methods.  If we could find an interfac

[2015-04-19 11:35] donv commented on #719
Best alternative for now:

Add ```JsiBridge.java``` to ```src```:

[code]

Attach it to the WebView with:

[code]

Call the method with:

[code]

Still working on exposing a Ruby class somehow.

[2015-04-19 11:49] donv commented on #719
More success!  Got the Ruby class with backing Java class variant working!

Default generated src/net/iqeo/mywebview/JsiJavaCustom.java (notice the slight name change JSI => Jsi):

[code]

Implement Ruby method in ```src/jsi_custom_java```:

[code]

Import into WebView with:

[code]

Use in JavaScript:

[code]

[2015-04-19 12:45] donv commented on #719
@gfowley Does this fix this issue for you?

We (or you) could change the value of the ```JsiJavaCustom``` to point to the Java class instead of the Ruby class.  That can be done during class loading and/or instance creation, or as a ```java_import net.iqeo.mywebview.JsiJavaCustom``` call in your source.

[2015-04-19 14:50] gfowley commented on #719
Wow! that's great, thanks.

I have an alternative approach using ```WebViewClient#shouldInterceptRequest``` but that has me knee-deep in browser security and Javascript callbacks. Your solution for a Ruby class with Java backing class looks much better to me.

Coincidentally, I ran into a letter case issue with Ruby-ish method names for WebSettings:
[code]
..but the penny didn't drop about the ori

[2015-04-19 22:23] donv opened #721 "Create and start emulator with 64bit system image for Android 5"

[2015-04-19 22:39] donv commented on #426
<table>
<tr><th>Version</th><th>Codename</th><th>API</th><th>Distribution</th><th>Cumulative</th></tr>
<tr><td>5.1</td><td>Lollipop</td><td>22</td><td>0.4%</td><td>0.4%</td></tr>
<tr><td>5.0</td><td></td><td>21</td><td>5.0%</td><td>5.4%</td></tr>
<tr><td>4.4</td><td>KitKat</td><td>19</td><td>41.4%</td><td>46.8%</td></tr>
<tr><td>4.3</td><td>Jelly Bean</td><td>18</td><td>5.6%</td><td>52.4%</td></tr

[2015-04-20 17:03] #721 closed

[2015-04-20 17:32] donv opened #722 "Start emulator without skin for "ruboto emulator""
I am thinking slightly higher resolution like WXGA720, and remove the buttons by setting ```config.ini:hw.mainKeys=yes``` and ```hardware-qemu.ini:hw.mainKeys = no```.

[2015-04-20 19:58] gfowley commented on #719
That works nicely.

I did run into an interesting problem while implementing it in my original application named ```net.iqeo.try_webview``` with activity ```TryWebviewActivity```. My attempts to specify the FQCN:
[code]
...resulted in log errors locating the class at ...net.iqeo.try.webview.Jsi, which isn't right. I evaded the issue by copying code into the simpler named ```mywebview``` project.

[2015-04-20 22:25] gfowley commented on #719
Oops! since you tagged this with 'bug' I shouldn't have closed this on you.

[2015-04-20 22:31] gfowley commented on #719
Just to be complete... when targeting android-17 or later the methods of the Java backing class to be accessed from Javascript require the ```@JavacriptInterface``` annotation:

[code]
I verified, this works.

[2015-04-21 07:25] donv commented on #719
Thanks @gfowley !

I think I'll change this to ```support``` since we don't actually change anything in Ruboto.

[2015-04-21 07:25] #719 closed

[2015-04-21 07:25] donv commented on #719
@gfowley Could I ask you to write a tutorial on using WebView with Ruboto?

[2015-04-21 18:06] sagunshre commented on #710
@donv any updates on this issue.

[2015-04-22 11:48] gfowley commented on #719
Yes, I'd be happy to.

I am experimenting with app control of the webview via ```WebView#evaluateJavascript```. Combined with your resolution of my trouble with ```WebView#addJavascriptInterface``` I will have learned enough to say something useful about bidirectional interfacing between app and webview.

[2015-04-23 10:48] donv commented on #719
Great!  Could you open a ticket for it here and mark it with "Documentation" and Milestone 1.3.1 ?

[2015-04-26 19:53] gfowley opened #723 "WebView tutorial"
Write an up to date WebView tutorial.

[2015-04-27 00:18] viniciusgati commented on #634
same for 1.3.1-dev

[2015-04-27 05:28] donv commented on #634
Hi @IgorJorobus !

Thanks for the report.  This looks like a problem with a space in the path.  You android tools are probably installed in a directory with a space, and some command is missing some quotes.

Does this sound like something you could investigate?

@CaptainJet could you perhaps look at this?

[2015-04-28 22:07] #720 closed

[2015-04-29 12:30] IgorJorobus commented on #634
Honestly I'm a bit bussy right now, can't promess when, sorry donv.

[2015-05-01 16:02] panasyuk opened #725 "How can I help?"

[2015-05-02 06:42] donv commented on #725
Hi @panasyuk !

Welcome to the project!

What experience do you have with Android or Java?

What experience do you have with writing documentation?

What experience do you have with Ruby and Ruboto?

Have you tried setting up the Ruboto development environment and complete some of the tutorials?

[2015-05-04 03:42] panasyuk commented on #725
Hi! I have no experience both with Java and Android (tried myself in
writing "hello world") and writing docs. But i have over 6 years of
experience developing in Ruby (web applications mainly) and I also tried
Ruboto to automate some things on my Android device. I will look at
tutorials in details in order to pick my Ruboto experience up.

сб, 2 мая 2015, 13:42, Uwe Kubosch <notifications@github.c

[2015-05-04 06:36] donv commented on #725
Great!  Please let me know when you have completed any tutorial, even just "Hello world!" in Ruboto.

[2015-05-16 13:00] makuchaku opened #726 "Any reference to net/https throws LoadError for org/bouncycastle/bcpkix-jdk15on/1.47/bcpkix-jdk15on-1.47"
In any ruby script, do
require "net/https"

Upon running the apk in emulator, following error is seen

I/System.out( 7553): RuntimeError:
I/System.out( 7553): 	you might need to reinstall the gem which depends on the missing jar
I/System.out( 7553): no such file to load -- org/bouncycastle/bcpkix-jdk15on/1.47/bcpkix-jdk15on-1.47 (LoadError)
I/System.out( 7553):    do_require at /data/app/org.rubot

[2015-05-19 00:31] nkts opened #727 "Can't detect version - Malformed version number android-4.4.2"
[code]

[2015-05-19 12:46] phantomwhale commented on #715
I've put in a PR (above) to fix the issue, although it is likely you will need to still hotpatch haxm from the intel website, I believe, as version 1.1.1, the version the script tries to install from the Android SDK bundle (I think), does not work correctly with Yosemite.

I think downloading and installing the two files here https://software.intel.com/en-us/android/articles/intel-hardware-acceler

[2015-05-19 20:25] Zhomart commented on #715
Thanks for the efforts. Installed haxm 1.2.1 and got ruboto's latest changes from github, but still getting the same error.

[2015-05-19 20:54] daneb commented on #715
Hi Zhomart

Are you running Yosemite?

On Tue, May 19, 2015 at 10:25 PM, Zhomart Mukhamejanov <
notifications@github.com> wrote:

--

±± http://www.codedtrue.com ±±

[2015-05-19 21:15] Zhomart commented on #715
@daneb, yes.

OS X `10.10.4 (14E17e)` Yosemite

[2015-05-19 21:43] phantomwhale commented on #715
Would you mind pasting the stack trace again?

[2015-05-19 22:51] Zhomart commented on #715
When I installed using `git clone`, `gem build` and `gem install` I've got different error. Previously I used different way to install latest changes.

Now I've got same issue as #727

[code]

[2015-05-19 22:54] Zhomart commented on #727
Ruby version: `=> jruby-1.7.19 [ x86_64 ]` by rvm
OSX: `10.10.4 (14E17e)` Yosemite
Ruboto version: `1.3.1.dev` aba9f243e1d481253de92530b91b4490dcbc3bdc

[code]

[2015-05-19 22:55] phantomwhale commented on #715
Looks like the HAXM version detection is running correctly then; perhaps we could consider this issue resolved, and potentially look into #727 next

[2015-05-19 23:02] Zhomart commented on #715
I agree, thank you all for solving this issue.
In haxm's homepage version `1.1.2` is the latest one. Why does ruboto say 1.1.2 is old?
[code]

[2015-05-19 23:36] phantomwhale commented on #715
Ah, Ruboto is just doing simple checks here, and assumes that the version it's trying to install (1.1.1) is the latest (which, for the downloaded bundle, it is).

If the versions don't match, it assumes the other version is an older one. It could equally simply say "Mismatch" there, to be honest. In any case, it shouldn't causes issues with the installation. Just a little confusion.

(I should not

[2015-05-19 23:54] Zhomart commented on #715
One more question, I've cloned the repo and performed bundle install. It changed Gemfile.lock, is it ok?

[code]

And as I understood to test ruboto I have to run `$ ubuntu_matrix_tests.sh` on OS X. Am I correct?

[2015-05-20 06:38] donv commented on #715
Hi @Zhomart !

You can run the Ruboto tests with ```./matrix_tests.sh```.

```./ubuntu_matrix_tests.sh``` runs the same tests, but in a Vagrant Ubuntu virtual machine.  That is way slower, but resembles the Travis CI setup.

The matrix test is pretty wide, so if you want to save some time, you can edit the variables at the top to limit the run.

[2015-05-20 06:40] donv commented on #715
Updates to the Gemfile.lock should be OK.

[2015-05-20 06:43] Zhomart commented on #715
@donv Thank you.

I will close this issue as it's already solved.

[2015-05-20 06:43] #715 closed

[2015-05-20 07:46] donv commented on #715
Thanks!

[2015-05-24 03:54] predatorian3 commented on #566
I'm still having this issue with
[code]

[2015-05-25 14:05] javalovercn opened #729 "(ArgumentError) unable to create proxy class for class java.util.HashMap : null"
--------------------------source code------------------------------
final File currFile = new File(".");
final ClassLoader projClassLoader = ResourceUtil.buildProjClassLoader(currFile);
HCJRubyEngine hcje = new HCJRubyEngine(currFile.getAbsolutePath(), projClassLoader);
try{
	Class c = projClassLoader.loadClass("java.util.HashMap");
	System.out.println("found " + c);//--------print right, see foll

[2015-05-25 14:20] donv commented on #729
Hi @javalovercn !

Thanks for the report.

This may be ```Unsafe.copyMemory``` missing from Android.

[2015-05-25 17:24] donv commented on #566
Hi @predatorian3!

Thanks for the report!  Could you open a new issue with your exact information?

[2015-05-25 17:25] donv commented on #729
Looking at the source here:  https://android.googlesource.com/platform/libcore/+/9edf43dfcc35c761d97eb9156ac4254152ddbc55/libdvm/src/main/java/sun/misc/Unsafe.java

Unsafe#copyMemory is indeed not implemented.

[2015-05-25 22:50] gfowley commented on #723
In progress...
https://github.com/ruboto/ruboto/wiki/Tutorial:-WebView

[2015-05-26 04:08] javalovercn commented on #729
Hello,
very glad to receive your replay!

Unsafe.copyMemory is raised before first script result:
----------------------------------
05-25 09:38:34.585: I/System.out(1396): square root of 64.0 is 8.0
----------------------------------
it seem that Ruby script is works right after error of Unsafe.copyMemory.
although sun.misc.Unsafe is based on Sun/Oracle JVM, but the script can also works on Andro

[2015-05-26 08:46] javalovercn commented on #729
-------source in---new HCJRubyEngine(currFile.getAbsolutePath(), projClassLoader)------------------

		Class classLocalContextScope = projClassLoader.loadClass("org.jruby.embed.LocalContextScope");
		Class classLocalVariableBehavior = projClassLoader.loadClass("org.jruby.embed.LocalVariableBehavior");
		classScriptingContainer = projClassLoader.loadClass("org.jruby.embed.ScriptingContainer");
		Cl

[2015-05-26 10:49] donv commented on #723
Nice!  Keep going!  :smile:

[2015-05-27 20:49] predatorian3 commented on #566
My apologies, I forgot to update this. I figured out my issue was that the way I had installed it I didn't have permissions to create AVD's or run them with Ruboto. I had to instead download and place the Android SDK manager in my $HOME directory, and then run it from there. After that, I was able to do what I needed. If need be, I'll create a new issue concerning the wiki's instruction on this.

[2015-05-28 03:00] javalovercn commented on #729
after google, get a url http://www.java2s.com/Open-Source/Android_Free_Code/App/screen/org_rubotoJRubyAdapter_java.htm
find method setUpJRuby, add following code:
--------------------------------------------------------------
            System.setProperty("jruby.compile.mode", "OFF"); // OFF OFFIR JITIR? FORCE FORCEIR
            // System.setProperty("jruby.compile.backend", "DALVIK");

[2015-05-28 03:00] #729 closed

[2015-06-03 14:50] mindaslab opened #730 "How can I help?"
Hi!

I'd like to contribute to the Ruboto project.

My earlier experience with Ruby, Java, Android and Ruboto: Just looking at Ruboto and Android now. Have extensive Ruby and Java experience.

My experience with HTML, CSS, JavaScript, and Jekyll: Thats cool, I am we developer, did some sample blogs in jekyll

My experience using git and GitHub: Love it really good.

My other interests and passions

[2015-06-04 02:57] KCErb opened #731 "Quick Start Example"
Hi all,

I'm trying to dust off ruboto and get it running again. There may be a problem with my setup (still looking at that) but this seems unrelated.

When I run
[code]

from [here](https://github.com/ruboto/ruboto/wiki/Creating-Your-First-Ruboto-Application#generate-it)
then I get this:

[code]

so it seems something in the quick_start sample is specifying a bad target id . . . not sure what th

[2015-06-06 16:18] donv commented on #731
Hi @KCErb !

You should verify your development environment using

    ruboto setup -y

It should install the android-16 platform which is the default target.

The default target has moved during the lifetime of the Ruboto project from 8 to 10 to 15, and finally to 16.

[2015-06-06 16:36] KCErb commented on #731
Unfortunately that step is also not working for me :grimacing: I posted a comment about the problem on a recently closed pull request: https://github.com/ruboto/ruboto/pull/728#issuecomment-108693493

The `-y` option didn't affect my results.

I should note that my emulator *does* work. When I run `emulator -avd <name>` I get a snappy responsive emulator running so I know that my HAXM / hotfix fro

[2015-06-07 13:06] donv opened #732 "New release manager"
Hi @ruboto/team-ruboto !

I have to reduce the time I spend on Ruboto, and there has been an increase in contributors lately, so I'd like to ask if any of you can step up and take some of the tasks from me.

I'll continue to use Ruboto and contribute a lot, but I will not be able to do regular releases and follow up new issues in the tracker.  So basically we need a new project lead who can do the

[2015-06-08 16:21] donv commented on #730
Hi @mindaslab !

Welcome to the project!

To get you started, you should look at the tutorials and set up your development environment.

Report back when you have completed a few tutorials or if you get stuck.

[2015-06-08 16:31] donv commented on #426
<table>
<tr><th>Version</th><th>Codename</th><th>API</th><th>Distribution</th><th>Cumulative</th></tr>
<tr><td>5.1</td><td>Lollipop</td><td>22</td><td>0.8%</td><td>0.8%</td></tr>
<tr><td>5.0</td><td></td><td>21</td><td>11.6%</td><td>12.4%</td></tr>
<tr><td>4.4</td><td>KitKat</td><td>19</td><td>39.2%</td><td>51.6%</td></tr>
<tr><td>4.3</td><td>Jelly Bean</td><td>18</td><td>5.2%</td><td>56.8%</td></

[2015-06-08 19:56] donv opened #733 "Remove support for RubotoCore 0.4.7"

[2015-06-08 19:58] #733 closed

[2015-06-09 02:58] KCErb opened #734 "ruboto setup problem"
Hi all, when I run `ruboto setup -y` I get the following

[code]
I tried playing around with the `check_for_haxm` method like so

[code]

I get this:

[code]

So I *do* have the HAXM dmg, but no version number to scrape. Should I just use it as is and fix the HAXM checker to look for this as well?

[2015-06-09 03:02] KCErb commented on #732
I wish I could! I'm still too green in Ruby (never been involved much with releasing gems for example) and I definitely don't know enough Java to maintain.

I'll at least say: I'm very grateful for all that you've done @donv! This project seems like a great undertaking and it's a very exciting idea (at least to *this* new programmer) that I can get into app development with Ruby. I hope someone ca

[2015-06-09 09:22] donv commented on #732
I will of course help anyone getting started with releasing the gem.  It is actually incredibly easy :)

We will still share the work of doing code changes.  I just need help with doing the actual release of the gem.  The code base should be releasable on master at any time, so the task is just to decide to do the release and run the task.

The other bit is to respond to new issues by acknowledgin

[2015-06-09 11:18] donv commented on #734
Hi @KCErb !

Thanks for the report!  Could you try master and see if this has already been fixed?

https://github.com/ruboto/ruboto#from-source

[2015-06-09 16:35] daneb commented on #734
Is this not the same problem I resolved? Sorry coming at the tail end here and finding it hard to keep track. @KCErb are you having this problem on latest Yosemite? That was my test platform and it had proven successful.

On 09 Jun 2015, 1:18 PM +0200, Uwe Kubosch<notifications@github.com>, wrote:

[2015-06-09 17:06] daneb commented on #732
Some suggestions and questions, and perhaps the wrong platform but bear with me:
Uwe - does that mean all issues just needing to be acknowledged or resolved?

Secondly - maybe having on the website a vision for Ruboto 2016? That may enable more contributors to come on board and get excited!

Thirdly, I see you continuously replying to new people wanting to assist...can we maybe have a how to with

[2015-06-09 19:46] KCErb commented on #734
Hi @daneb, yes it is resolved on master! Sorry for the confusion, I looked at the gem-copy of `setup.rb` and thought it matched your PR, but I guess I was wrong because I just pulled master and tried again and everything was fine. :)

With one exception: when I tried running `bin/ruboto setup -y` it still was trying to use the gem-installed copy instead of master. In another project I work on, we

[2015-06-09 19:46] #734 closed

[2015-06-09 20:28] KCErb commented on #731
OK, with my `ruboto setup` working now, I was able to generate the quick_start example, but when I tried to run it I got

[code]

So I went into the sdk manager and got 19.1 and that solved the issue, but it seems that `ruboto setup` is supposed to catch this. It also seems that `ruboto setup` thinks having sdk 16 is sufficient, so I'm not sure why `QuickStart` is asking for a higher SDK Build Too

[2015-06-11 06:05] donv opened #735 "Use the new Gradle based build system from Google"

[2015-06-11 06:19] donv commented on #367
We will follow JRuby upstream on this.  JRuby 9.0.0.0 is Ruby 2.2.2 only

[2015-06-11 06:19] #367 closed

[2015-06-11 07:01] donv commented on #732
Hi @daneb !

Great that you can help :)  I am very grateful.

The most important thing about the issues is that the reporter gets a response, and that the severity/category of the report is assessed, and the appropriate milestone and tags are attached.  The actual solving of the issue must be a group activity as before where we all chip in where we can.

I agree that publishing a vision for Ruboto

[2015-06-18 09:33] 3snail opened #736 "rake install error"
when i run this command in the termianl, it show me errors
"
BUILD FAILED
/usr/local/lib/android-sdk-linux/tools/ant/build.xml:649: The following error occurred while executing this line:
/usr/local/lib/android-sdk-linux/tools/ant/build.xml:694: Execute failed: java.io.IOException: Cannot run program "/home/administrator/ruboto/splash/${aapt}": error=2, no such file or dictionary
.................

[2015-06-18 11:45] daneb commented on #736
Looks like aapt is missing from your PATH.

Can you try run `aapt` from your terminal?

[2015-06-19 03:11] 3snail commented on #736
thanks daneb answer,  and i have solved the problem。

i updated /usr/local/lib/android-sdk-linux/tools/ant/build.xml,and add
<property name="aapt" location="/usr/local/lib/android-sdk-linux/build-tools/23.0.0-preview/aapt" /><property name="dx" location="/usr/local/lib/android-sdk-linux/build-tools/23.0.0-preview/dx" />
<property name="zipalign" location="/usr/local/lib/android-sdk-linux/build-too

[2015-06-19 07:38] daneb commented on #736
Glad to hear!

[2015-06-19 07:38] #736 closed

[2015-06-19 07:39] daneb commented on #732
Hi @donv

Sounds a plan - I'm in.

[2015-06-20 08:11] kinsomicrote commented on #732
I would very much love to be involved with Ruboto but I'm on my way to being a junior ruby developer. Yet, I'll sync up with the happenings here and start learning with the resources I can lay hold on.

[2015-06-21 00:11] KCErb commented on #655
Hey @jjgh, I know this is an old thread but I didn't see another way of contacting you. I'm curious: how are you using Genymotion with Ruboto? I tried dragging an apk to the emulator but it wouldn't go. Any tips?

[2015-06-22 18:58] donv opened #737 "Make JRuby 9000 work with Ruboto"
Hi!

JRuby 9000 (master) currently loads the compiler which uses `java.lang.invoke.MethodHandles` which is not available on Android.

I need help making changes to JRuby master to make loading the compiler optional.

I have started a branch for this here:

https://github.com/jruby/jruby/tree/test-optional_compiler

...but I need help doing the changes, and I need someone to work with for motivatio

[2015-06-22 19:15] donv commented on #737
@headius @enebo I need some guidance on this:  What to exclude, and when.

[2015-06-22 19:33] kinsomicrote commented on #730
Just saw this....i bet I'll follow this path

[2015-06-22 19:37] donv commented on #730
@kinsomicrote please do!  :)

[2015-06-25 23:43] KCErb opened #738 "Starting a New Internal Activity"
Hi all,

I've been reworking my old tutorials in a new direction and I'm just about done. A key ingredient in my teaching approach is to show folks how to build things the traditional Android way without Ruboto's help before showing them the nice helpers that Ruboto provides.

The only thing I've not been able to figure out on my own is how to create an intent for a new activity.

I generated a ne

[2015-06-28 19:19] ashes999 opened #739 "Game Frameworks?"
Hi,

Are there any known/mature/stable game frameworks for Ruboto?

Gosu-Android is out of service (no longer maintained). It wrapped around Android graphics libraries, which is an approach others can take. I also had something working with OpenGL, but I didn't go far with that.

[2015-06-28 21:54] gfowley commented on #723
Finally done.

Tutorial project source repository at https://github.com/gfowley/ruboto-tutorial-webview

[2015-06-29 04:11] daneb commented on #723
Well done!!!

On 28 Jun 2015, 11:54 PM +0200, Gerard Fowley<notifications@github.com>, wrote:

[2015-06-29 06:20] donv commented on #723
That looks really great!

[2015-07-01 10:18] daneb commented on #739
Hi

Unfortunately I'm not aware of any.
Perhaps @donv may have more input.

Dane

On 28 Jun 2015, 9:19 PM +0200, Ashiq A.<notifications@github.com>, wrote:

[2015-07-01 12:35] donv commented on #739
Gosu-Android was the only one I was aware of.

[2015-07-03 04:44] ashes999 commented on #739
That's unfortunate. Thanks for the update.

[2015-07-03 04:44] #739 closed

[2015-07-03 20:28] danielpassos opened #742 "Accept Android plataform tools rc in setup"

[2015-07-03 22:27] danielpassos commented on #742
https://github.com/ruboto/ruboto/pull/741

[2015-07-03 22:29] danielpassos commented on #727
Hi @nkts @Zhomart Was it fixed?

[2015-07-03 22:32] ashes999 commented on #663
With 1.3.0, I'm getting an exception lodaing Gosu:

`org.jruby.embed.EvalFailedException: (LoadError) no such file to load -- gosu`

Looks like I need to add it to Ruboto somehow, but how?

[2015-07-03 22:43] danielpassos commented on #727
@Zhomart Could you send the result of `android list target`?

[2015-07-03 22:44] danielpassos commented on #735
It means create a new project structure based on gradle / android studio?

[2015-07-03 22:45] danielpassos commented on #732
I want to help on it to project not die

[2015-07-03 22:56] Zhomart commented on #727
@danielpassos Here it is https://gist.github.com/Zhomart/8dc4ac4988224ca7ed14

[2015-07-03 22:57] danielpassos commented on #731
Hi @KCErb

1. What command you use to got it?
1. What ruboto version are you using?

I ran `ant clean release` and it works like a charm

[2015-07-03 22:59] danielpassos commented on #730
@kinsomicrote Do you have interesting in some specific issue? Can we close this issue?

[2015-07-03 23:07] danielpassos commented on #723
@gfowley @donv wdyt about we create a new repo `ruboto-tutorials` and move this (as a folder) into it

[2015-07-03 23:12] danielpassos commented on #717
@andrewhavens @NaN1488 Could you confirm if it was fixed in https://github.com/ruboto/ruboto/pull/728?

[2015-07-03 23:20] danielpassos commented on #712
Hi @webofbits Are you still with this problem? Have you tried using another ruby version?
If you still with this, could you please send the result of?

1. `uname -a`
1. `ruby -v`
1. `gem -v`

[2015-07-03 23:24] danielpassos commented on #708
@mjerem34 Are you still working on it?

[2015-07-03 23:25] danielpassos commented on #704
Hi @sri-sankl are you interesting in get any specific issue?

[2015-07-03 23:26] danielpassos commented on #703
Hi @daneb Any progress on it? Are you still playing with it?

[2015-07-03 23:29] danielpassos commented on #697
Hi @webofbits, have you tried it using `1.3.0`?

[2015-07-03 23:30] danielpassos commented on #695
Is it the same of https://github.com/ruboto/ruboto/issues/735?

[2015-07-03 23:31] danielpassos commented on #694
@webofbits are you interesting in any specific issue?

[2015-07-03 23:32] danielpassos commented on #692
@awernick Have you tried the @rscottm suggestion?

[2015-07-03 23:40] danielpassos commented on #688
Is it done, right? I've just created a new app and ..

`<uses-sdk android:minSdkVersion='16' android:targetSdkVersion='16'/>`

[2015-07-03 23:41] danielpassos commented on #685
@jay2452 are you interesting in any specific issue?

[2015-07-03 23:42] danielpassos commented on #684
Hi @StoRRica are you interesting or working in any specific issue?

[2015-07-03 23:42] danielpassos commented on #683
Hey @ebruner are you interesting in any specific issue?

[2015-07-03 23:43] danielpassos commented on #670
Hey @DHFE Have you tried the @donv suggestion?

[2015-07-03 23:46] danielpassos commented on #668
Hey @tak1n Have you tried it again using Ruboto `1.3.0`?

[2015-07-03 23:52] danielpassos commented on #668
I just tried it

[code]

and it works like a charm

[code]

Here is my enviroments:

[code]

[2015-07-03 23:53] danielpassos commented on #666
1. t-shirts
1. pins
1. stickers

[2015-07-03 23:54] danielpassos commented on #665
Hi @gvaresh are you interesting or playing with any specific issue?

[2015-07-03 23:55] danielpassos commented on #662
Hi @aripoya are you interesting or playing with any specific issue?

[2015-07-03 23:55] danielpassos commented on #659
Hi @bennythejudge are you interesting or playing with any specific issue?

[2015-07-03 23:55] danielpassos commented on #651
Hi @arantessergio are you interesting or playing with any specific issue?

[2015-07-03 23:57] danielpassos commented on #650
Every opensource projects uses IRC. -1 to switch to Gitter

[2015-07-04 00:31] kinsomicrote commented on #730
Yea, you can.

[2015-07-04 01:12] KCErb commented on #731
Yup this is resolved, sorry to leave this hanging.

[2015-07-04 01:12] #731 closed

[2015-07-04 01:21] KCErb commented on #708
Hi @danielpassos and @donv,

A year ago I started writing some Ruboto tutorials and ran out of steam / time.

Recently I started writing a series of tutorials for RubyMotion and it got me thinking about my Ruboto tutorials. As of today I have a completely rewritten set of tutorials for Ruboto online as a github pages site and plan to continue adding them to mirror my work with RubyMotion.

http://

[2015-07-04 01:21] KCErb commented on #732
Go @danielpassos! Keep up the good work :tada: :fireworks: :+1:

[2015-07-04 01:29] danielpassos commented on #731
You don't need to apologize. Thanks for reply!

[2015-07-04 05:20] awernick commented on #692
@danielpassos @donv its been a while since I messed around with Ruboto, but I remember that the issue was caused because of something I was missing in my environment. So I believe @rscottm helped me resolve my issue in the end.

[2015-07-04 06:06] donv commented on #695
Yes, it is a duplicate :)

[2015-07-04 06:08] donv commented on #650
Good to hear from you @danielpassos .  I think we can have both.  Either way, there is not much traffic.

[2015-07-04 06:27] donv commented on #727
Looks like we need to be even more flexible when recognising Android platform version.

@danielpassos you on it?

[2015-07-04 06:33] donv commented on #732
Woohoo!  Welcome @danielpassos !  Pull request merged and commit rights given!

[2015-07-04 06:36] donv commented on #731
Hi @danielpassos !

Please assign this issue to yourself since you did the follow up.  I'd like all closed issues to have an assignee before release docs are created.

Good work!

[2015-07-04 11:05] #730 closed

[2015-07-04 11:12] danielpassos commented on #727
@donv yes I'm on it

[2015-07-04 11:13] danielpassos commented on #650
@donv agreed. Anyway can we close that issue?

[2015-07-04 11:24] #695 closed

[2015-07-04 11:26] danielpassos commented on #692
Thanks for the reply @awernick

[2015-07-04 11:26] #692 closed

[2015-07-06 05:43] tak1n commented on #668
He all
Sry had no time in the last few months to do anything related to ruboto.
I think it can be closed, if I get to ruboto again and this error occurs again I'll reopen it.

Cheers

[2015-07-06 05:43] #668 closed

[2015-07-06 12:30] danielpassos commented on #742
Merged

[2015-07-06 12:30] #742 closed

[2015-07-06 12:34] danielpassos commented on #704
Hi,

Since this issue does not has any activity for a long time, I'm closing it. Feel free to reopen it or ping me in the specific issue you have interesting in work on.

[2015-07-06 12:34] #704 closed

[2015-07-06 12:35] danielpassos commented on #694
Hi,

Since this issue does not has any activity for a long time, I'm closing it. Feel free to reopen it or ping me in the specific issue you have interesting in work on.

[2015-07-06 12:35] #694 closed

[2015-07-06 12:35] danielpassos commented on #685
Hi,

Since this issue does not has any activity for a long time, I'm closing it. Feel free to reopen it or ping me in the specific issue you have interesting in work on.

[2015-07-06 12:35] #685 closed

[2015-07-06 12:36] danielpassos commented on #683
Hi,

Since this issue does not has any activity for a long time, I'm closing it. Feel free to reopen it or ping me in the specific issue you have interesting in work on.

[2015-07-06 12:36] #683 closed

[2015-07-06 12:37] danielpassos commented on #665
Hi,

Since this issue does not has any activity for a long time, I'm closing it. Feel free to reopen it or ping me in the specific issue you have interesting in work on.

[2015-07-06 12:37] #665 closed

[2015-07-06 12:37] danielpassos commented on #659
Hi,

Since this issue does not has any activity for a long time, I'm closing it. Feel free to reopen it or ping me in the specific issue you have interesting in work on.

[2015-07-06 12:37] #659 closed

[2015-07-06 12:37] danielpassos commented on #651
Hi,

Since this issue does not has any activity for a long time, I'm closing it. Feel free to reopen it or ping me in the specific issue you have interesting in work on.

[2015-07-06 12:37] #651 closed

[2015-07-06 12:39] danielpassos commented on #589
Hi,

Since this issue does not has any activity for a long time, I'm closing it. Feel free to reopen it or ping me in the specific issue you have interesting in work on.

[2015-07-06 12:39] #589 closed

[2015-07-06 12:39] danielpassos commented on #725
Hi,

Since this issue does not has any activity for a long time, I'm closing it. Feel free to reopen it or ping me in the specific issue you have interesting in work on.

[2015-07-06 12:39] #725 closed

[2015-07-06 12:39] danielpassos commented on #684
Hi,

Since this issue does not has any activity for a long time, I'm closing it. Feel free to reopen it or ping me in the specific issue you have interesting in work on.

[2015-07-06 12:39] #684 closed

[2015-07-06 12:45] danielpassos commented on #662
Hi,

Since this issue does not has any activity for a long time, I'm closing it. Feel free to reopen it or ping me in the specific issue you have interesting in work on.

[2015-07-06 12:45] #662 closed

[2015-07-06 12:45] #640 closed

[2015-07-06 12:50] danielpassos commented on #323
Gem 1.3.0 already released => https://rubygems.org/gems/ruboto

[2015-07-06 12:50] #323 closed

[2015-07-06 12:51] danielpassos commented on #687
@donv +1 to remove support for api level < 16

[2015-07-06 12:56] danielpassos commented on #426
@donv This issue is really necessary? Why you want to track it?

[2015-07-06 12:59] danielpassos commented on #543
@donv SQLDroid is part of Ruboto project? If not I vote to move this task for SQLDroid repo

[2015-07-06 13:01] danielpassos commented on #584
@donv What it means? `language: android`?

[2015-07-06 22:57] gfowley commented on #723
A tutorial/example repo sounds good to me. I have changed my repo to the MIT license to match Ruboto.

Do I need to change my repo name to just `webview` so the path will be `ruboto-tutorials/webview` instead of the redundant `ruboto-tutorials/ruboto-tutorial-webview` ? .. or can you rename the directory ?

Single tutorials/examples repo or multiple ? ... Single I suppose until we have the happy p

[2015-07-06 23:09] danielpassos commented on #723
Hey @gfowley I like the idea of have a single repo for many tutorials/example apps and also `ruboto-tutorials/ruboto-tutorial-webview` instead of `ruboto-tutorials/webview` wdyt @donv?

[2015-07-06 23:20] gfowley commented on #723
That's fine with me.

[2015-07-06 23:26] danielpassos commented on #723
Well, I don't have access to create a new repo @donv Could you do it?

[2015-07-08 19:09] ashes999 opened #743 "Help with LibGDX on Ruboto"
**TLDR:** I don't have a lot of C++ or (raw) Android experience, and would like some help getting libGDX to work on Ruboto.

-----

`gosu-android` is an excellent gem, albeit one that is fairly new (not mature) and no longer under active development. I would like to integrate [libGDX](https://github.com/libgdx/libgdx), which is a mature, cross-platform, Java-based library -- albeit one that's abou

[2015-07-08 23:29] sumanthkrishna opened #744 "How can I help? (sumanthkrishna)"
Hi!

I'd like to contribute to the Ruboto project.

My earlier experience with Ruby, Java, Android and Ruboto: Currently working on Ionic based hybrid applications. With little experience on core Java and good experience with Ruby all the way!

My experience with HTML, CSS, JavaScript, and Jekyll: Pretty good with UI technologies

My experience using git and GitHub: Well I have been using the Git

[2015-07-08 23:57] danielpassos commented on #744
Hi @sumanthkrishna

Thanks for your interesting in the project. What do you think about see our list of issues and see if someone is interesting. In related I'm about review all wiki a help on it is really appreciated

[2015-07-09 14:00] spiderOO7 opened #745 "How can I help? (spiderOO7)"
Hi!

I'd like to contribute to the Ruboto project.

My earlier experience with Ruby, Java, Android and Ruboto:

My experience with HTML, CSS, JavaScript:

My experience using git and GitHub:

My other interests and passions:

[2015-07-09 23:22] ZyzioZiom opened #746 "ruboto setup - Java heap space (Java::JavaLang::OutOfMemoryError)"
Hello,

When I'm trying to install ruboto components I'm getting OutOfMemoryError. How can I setup with parameters to set maximum size of memory?

patryk@patryk-Vostro1510:~$ ruboto setup
Java runtime             : Found
Java Compiler            : Found
Apache ANT               : Found
Android Package Installer: Not found
Android Emulator         : Not found
Android SDK Command adb  : Not found
An

[2015-07-10 08:36] ZyzioZiom commented on #746
Android Studio installed successfully, so I could use it's installed SDKs. How to point Ruboto to these SDKs so it can recognize everything is installed?

[2015-07-10 21:48] gfowley commented on #746
With the SDK installed with Android Studio, I would proceed like this:

Logout and login again to ensure all changes to your environment take effect.

Locate the Android SDK installation path (you may have environment variable ANDROID_HOME set):
[code]

Verify that the Android SDK directories are in your path:
[code]

Verify that the Android SDK utilities are executed from the expected locations:

[2015-07-12 10:52] ZyzioZiom commented on #746
Works! Thanks :)

[2015-07-12 20:54] donv commented on #426
These historic values used to be available form Google and are useful to see trends in the distribution of Android versions.

Our code contains lots for checks for which version of android is supported, and we can benefit from not supporting older versions since it will make our code simpler.

These numbers can help us decide if we can drop support for an older version not only based on its curren

[2015-07-12 21:15] donv commented on #732
OK, so @daneb has told me he is unable to fulfil the role as release manager.  Anybody else want to step up?  @danielpassos ?  Technically it is super easy, and I will be helping all the way.

[2015-07-12 21:25] donv commented on #746
@gfowley seems like this one is solved.  Assign it to yourself and close it.  I already added the "support" tag to indicate it is not a bug, and added it to the upcoming 1.3.1 release.

[2015-07-12 22:06] #746 closed

[2015-07-13 12:04] danielpassos commented on #732
@donv Sure. I can give it a try

[2015-07-13 13:40] danielpassos commented on #745
Hi @spiderOO7

Thanks for your interesting in the project. What do you think about see our list of issues and see if someone is interesting. In related I'm about review all wiki a help on it is really appreciated

[2015-07-13 23:03] kinsomicrote commented on #732
What are the duties of a release manager?

[2015-07-14 04:47] donv commented on #732
@danielpassos great!  We should get going on the 1.3.1 release right away.

@kinsomicrote the release makes the releases and the surrounding tasks like creating the release docs, announcing the release on the web and mailing lists, and managing the issues and milestones in the issue tracker.

There is a description of the release process in the wiki:  https://github.com/ruboto/ruboto/wiki/Release-

[2015-07-14 05:40] donv commented on #743
Hi @ashes999 !

This looks like a really interesting project!  I would love to help, and others on the project will surely help as well.

I have not looked at the repository yet (too much todo :disappointed:), but I have a couple of remarks right now:

I have not used any native libraries yet, but you should put them in the ```lib``` directory.  To automatically detect the architecture of the libr

[2015-07-14 05:44] donv opened #747 "Running the emulator often hangs when run without "--no-snapshot""
When running

    ruboto emulator

it always works the first time.  On subsequent times, the emulator most often freezes for me.  When I run with the ```--no-snapshot``` option, it works every time.

There must be something we do wrong when setting the configuration for the emulator that makes snapshots freeze.  (or there may be a bug in the Android emulator/tooling)

[2015-07-14 05:59] donv commented on #743
Hi @ashes999 !

I have taken a look at the project and the immediate thing is that you don't display any content :smile:

In ```TemplateActivity#onCreate``` you should set up some visual content.  I have not looked at terrace yet, so I don't know how you should draw content, but the blank screen you see at startup is correct since you don't actually add any content to the screen.

Content is added

[2015-07-14 09:37] ashes999 commented on #743
Hi,

I'm not sure I understand Android well enough. I know that you need an activity of some sort to start your app. In my case, I do have `class TemplateActivity`.

There's nothing in `on_create`, but in `on_ready` ([this line](https://github.com/ashes999/terrace/blob/master/template/android-libgdx/src/template_activity.rb#L54)), I have `AndroidLauncher.new.onCreate(nil)`. This is almost certainl

[2015-07-14 18:07] donv commented on #743
Hi @ashes999 !

```on_ready``` is not an Android Activity lifecycle method.  ```onResume``` is maybe what you were looking for.

I have added a pull request that should help you a bit along.  I am still getting a NullPointerException inside the Java classes, though.  Maybe you can figure that out :smile: .

[2015-07-14 18:30] ashes999 commented on #743
Thanks @donv , I'll take a look.

I used `on_ready` because this is what I had working with `Gosu-Android`

[2015-07-14 20:02] donv commented on #743
Yeah, ```on_ready``` is a Gosu lifecycle method, I think.  @ashes999 please report your progress, and I hope you can merge my pull request.

[2015-07-20 19:15] ashes999 commented on #743
It's progress, but it crashes, I'm not sure why. I'm going to merge your PR, and leave this as-is for now to revisit later when I have more time.

Thanks for your help!

[2015-07-21 00:41] kinsomicrote commented on #732
@donv Okay. What are the needed skills for a release manager? I would love to assist @danielpassos if possible.

[2015-07-21 07:47] donv commented on #743
Glad to help.  Looking forward to hearing from you again.

[2015-07-23 22:48] ashes999 commented on #743
I asked for help on the libGDX side but didn't get any useful feedback. You can read lots of details on [GameDev.SE](http://gamedev.stackexchange.com/questions/104399/nullpointerexception-in-android-app-activity-oncreateandroid-app-activity-java) (I also posted on the libGDX forums).

The exception I'm getting now is in the `super` call in `onCreate`. It seems like something in the Android Activit

[2015-07-25 18:30] ashes999 commented on #743
I've been thinking about this some more. I think the issue might be related to how libGDX and Ruboto initialize. Some googling shows that this exception usually occurs when you didn't specify, in your `Intent` class, what the next class should be.

I added some trace statements. It seems that, in Ruboto, the subsequent class is set. And I've updated the `AndroidManifest.xml` settings to match the

[2015-07-28 14:27] ashes999 commented on #743
Many, many thanks @donv -- I kept coming back to your initialization changes, which formed a solid base for me to figure this out.

For future readers: I got this working. You can see the current, working version in my [libgdx/ruboto repository](https://github.com/ashes999/libgdx-ruboto).

Basically, the architecture is:

- Main game class is a pure Ruby class
- `AndroidLauncher` and all other cla

[2015-07-28 14:27] #743 closed

[2015-07-28 20:25] ashes999 opened #748 "Create a tutorial for a libGDX game"
Hi,

Having achieved integration with libGDX, I would like to copy the [excellent, detailed Gosu-Android tutorial](https://github.com/ruboto/ruboto/wiki/Tutorial%3A-write-a-gosu-game) and create one for libGDX integration (either via `terrace` or straight from my `libgdx-ruboto` template repository).

Please bug me about this. I haven't finalized `terrace` yet, so I plan to revisit this later.

[2015-08-04 19:08] ashes999 commented on #748
I've created [this page](https://github.com/ruboto/ruboto/wiki/Tutorial:-Write-a-libGDX-game). Please give me a (literary) review @donv .

[2015-08-07 17:37] paulas opened #749 "Invalid maximum heap size: -Xmx4096M"
Hi!

I have heap error
Is there 32bit OS problem?

Can you give some advice?

__________________________________________
[user@lacky-thing testapp3]$ rake
Picked up _JAVA_OPTIONS: -Xms256m -Xmx512m
ant debug
Picked up _JAVA_OPTIONS: -Xms256m -Xmx512m
Buildfile: /home/user/testapp3/build.xml
Trying to override old definition of task dex-helper

-set-mode-check:

-set-debug-files:

-check-env:
 [che

[2015-08-10 16:44] RubyRebbe opened #750 "Deploy ruboto within Gnuroot debian linux under Android OS"
Hi,

I am running Gnuroot debian linux on my Digiland Android tablet. I would like to use ruboto inside of Gnuroot debian to deploy apps to the Android side of the same physical device. Is this possible? Without rooting? FYI ruboto works just fine on my ubuntu 14.04 laptop.

Just to let you know, on Gnuroot  I am running a complete ruby 2.2 development environment with rvm, git, rspec and so on. G

[2015-08-11 18:45] gfowley commented on #747
I think the problem is with the Android emulator, not the Ruboto emulator command. I have tried many AVD device/configuration combinations and have had similar issues with emulator snapshots. They seem to be a regular source of trouble for Android SDK users:

https://code.google.com/p/android/issues/list?q=emulator+snapshot

This combo of not starting and freezing was the last straw for me:

https

[2015-08-11 19:16] gfowley commented on #750
That GNURoot app looks interesting, I'll have to try it.

Have you been able to install Ruboto, create an application, and compile it ?

If so, here a couple of off-the-cuff suggestions to install the app:

A Ruboto app is usually installed over a USB connection between development system and Android device with the ```rake install``` command which uses the ```adb``` utility from the Android SDK.

[2015-08-11 20:19] gfowley commented on #697
I don't think this is a bug...

Android [documentation](http://developer.android.com/reference/android/net/wifi/WifiInfo.html#getSSID%28%29) for ```WifiInfo.getSSID()``` indicates it will return ```"<unknown ssid>"``` when not connected to a network.

The Ruboto wifi tutorial expects that it may return ```null``` if not connected. I suspect this documentation has changed since the tutorial was wri

[2015-08-11 21:00] gfowley commented on #726
JRuby OpenSSL dependency version compatibility can be picky.

Please try latest versions of ```jruby-jars``` 1.x (1.7.21), ```jruby-openssl``` (0.9.8), and ```bouncy-castle-java``` (1.5.0147).

I see a couple of ```jruby-jars`` versions in the gem list, make sure the latest version is installed in the project```libs``` directory.

[2015-08-20 17:05] vanbumi commented on #749
anyone can fix this problem?  I have same case

[2015-08-22 07:27] donv commented on #749
Hi @paulas and @vanbumi !

Thanks for the report.  This looks like a 32 bit issue.

http://stackoverflow.com/questions/909018/avoiding-initial-memory-heap-size-error

Try setting the ´ DX_HEAP_SIZE` environment value to a valid size like 2048:

[code]

Our logic for this is here:

https://github.com/ruboto/ruboto/blob/master/assets/rakelib/ruboto.rake#L558

A pull request that adds logic for 32 bi

[2015-08-27 09:14] petervojtek commented on #749
I have this issue as well (32bit ubuntu, zsh).
playing with DX_HEAP_SIZE or exporting Xmx into shell was not working for me.

what finally helped was to open following file `~/android-sdk-linux/build-tools/23.0.0/dx`

and rewrite following line:
[code]
to some lower value.

[2015-08-30 03:18] endyeyes opened #751 "ruboto rake build failed on ubuntu"
Im using ubuntu
rake build failed
I tried searching to fix it but nothing works

/home/kane/quick_start/rakelib/ruboto.rake:14: warning: Insecure world writable dir /home/kane/android-sdk-linux/tools in PATH, mode 040777
ant debug
Buildfile: /home/kane/quick_start/build.xml
Trying to override old definition of task dex-helper

-set-mode-check:

-set-debug-files:

-check-env:
 [checkenv] Android SD

[2015-09-02 01:47] leandroruel opened #752 "can't install ruboto with ruby gems in windows 10."
i'm trying download ruboto with ruby gems in my Windows 10 (i know it sucks) but, when i try install other packages it works fine.

PS C:\Users\leandro> gem install ruboto
ERROR:  While executing gem ... (Gem::RemoteFetcher::FetchError)
    bad response Not Found 404 (https://rubygems.global.ssl.fastly.net/quick/Marshal.4.8/pry-0.10.1-x86-mingw32.gemspec.rz)
PS C:\Users\leandro> gem install sass
F

[2015-09-04 05:25] donv commented on #426
<table>
<tr><th>Version</th><th>Codename</th><th>API</th><th>Distribution</th><th>Cumulative</th></tr>
<tr><td>5.1</td><td>Lollipop</td><td>22</td><td>2.6%</td><td>2.6%</td></tr>
<tr><td>5.0</td><td></td><td>21</td><td>15.5%</td><td>18.1%</td></tr>
<tr><td>4.4</td><td>KitKat</td><td>19</td><td>39.3%</td><td>57.4%</td></tr>
<tr><td>4.3</td><td>Jelly Bean</td><td>18</td><td>4.7%</td><td>62.1%</td></

[2015-09-04 12:21] gfowley commented on #372
There is now a java platform variant of ruby-debug-base. After a few days flailing around I got basic operation with a Ruboto app. Once I undid the various dead-ends I explored it turned out to require only a handful of small changes to Ruboto (ruboto.rake) and ruby-debug.

I've documented it's current state in the form a a debugging tutorial:
https://github.com/ruboto/ruboto/wiki/Tutorial:-Debugg

[2015-09-04 12:23] gfowley commented on #658
PRs coming soon if you like this approach...

https://github.com/ruboto/ruboto/wiki/Tutorial:-Debugging

[2015-09-04 12:32] gfowley commented on #747
BTW: Ignore the bit about ```rake update_scripts``` not working. It was working fine, me using ```require_relative 'some-file'``` in the uploaded script was the problem. (Can't load a file from the scripts directory that isn't there).

[2015-09-04 13:08] gfowley commented on #751
This...

...indicates there is something wrong with the Android SDK installation. It may be possible to fix the permissions.

This...

... is related to this...

That's another permissions problem.

It may be possible to fix permissions, but this could just be the tip of the problem. I would remove the ```android-sdk-linux``` directory, rename the ```.android``` directory (you may want something f

[2015-09-04 14:19] gfowley commented on #752
This...

bad response Not Found 404 (https://rubygems.global.ssl.fastly.net/quick/Marshal.4.8/pry-0.10.1-x86-mingw32.gemspec.rz)

...indicates a problem with the Pry gem. It references a windows platform gemspec that is missing.

But I don't recall Pry being a Ruboto dependency. Looking at Ruboto dependencies:

[code]

Pry is a dependency of gem ```main```, version 5.3.2. The lack of dependencies

[2015-09-06 18:52] donv commented on #658
@gfowley looks good :+1:

[2015-09-16 13:04] gfowley commented on #658
Debugging is now functional with debugger output and source lines presented in the debugger client. See updated tutorial:

https://github.com/ruboto/ruboto/wiki/Tutorial:-Debugging

Next steps are PRs for modifications to linecache, ruby-debug, and ruboto.

[2015-09-16 19:52] donv commented on #658
Nice @gfowley !  Keep it up!

[2015-09-17 12:44] gfowley commented on #658
linecache PR and issue: rocky/linecache#4

ruby-debug PR and issue: ruby-debug/ruby-debug#20

[2015-09-17 12:51] donv commented on #658
Cool!

[2015-09-18 15:04] leandroruel commented on #752
thanks! I'll try this.

[2015-09-18 15:04] #752 closed

[2015-09-18 16:49] irahey opened #753 "ruboto app still requires ruboto-core even after doing the "ruboto gen jruby" command"
Hi!

In the app directory of my ruboto app, I did the "ruboto gen jruby" command. However, when I do the rake install start, it still shows the screen telling that I need to install ruboto core.

I tried the the command "rake update_scripts" and it still does not work
I added the "require 'jruby-jars'" line at the top of my src/main.rb file, but it still requires my device to install ruboto core.

[2015-09-21 19:02] gfowley commented on #753
Hi Ira,

Issue #739 mentions gosu-android (used by the Gosu game tutorial) is no longer maintained.

However, issue #748 is about an alternative [tutorial](https://github.com/ruboto/ruboto/wiki/Tutorial:-Write-a-libGDX-game).

Good luck.
-gf-

[2015-09-30 02:31] gfowley commented on #658
Getting there...
Updated linecache-1.3.1-java.gem is on rubygems.org.
Latest PR for ruby-debug: ruby-debug/ruby-debug#23.

[2015-09-30 05:39] donv commented on #658
Way to go @gfowley !

[2015-10-06 11:26] claudiug opened #754 "How can I help?"
Hi!

I'd like to contribute to the Ruboto project.

My earlier experience with Ruby, Java, Android
 - 5  years java
 - 4 years ruby
 - 1 year Android :(

My experience with HTML, CSS, JavaScript, and Jekyll:
 - basic HTML, CSS or Jekyll
My experience using git and GitHub:
 - strong exp with git and github
My other interests and passions:

- I just like programming languages and related technologie

[2015-10-06 11:45] donv commented on #754
Hi @claudiug !

Welcome to the project!  The first step should be to set up your Ruboto development environment.  Please do that, and report back.  If you run into any trouble, please let me know here.

[2015-10-06 19:29] claudiug commented on #754
hello,

I've try to setup the ruboto, but It fails here:
`/Users/claudiug/.rbenv/versions/jruby-9.0.0.0/lib/ruby/gems/shared/gems/ruboto-1.3.0/lib/ruboto/util/setup.rb:200:in `check_for_haxm'`

`https://github.com/ruboto/ruboto/blob/166d74b05d4a3d005972d0c5aad5f3f48e9fc6e3/lib/ruboto/util/setup.rb#L187`

I do have Intel HAXM, version 5.5.5

- jruby 9.0.0
- java version "1.8.0_60"
- ruboto (1.3.0)

[2015-10-06 19:46] claudiug commented on #754
I saw this PR: https://github.com/ruboto/ruboto/issues/737

should I use 1.7.xx?

[2015-10-07 07:17] donv commented on #754
Hi @claudiug !

Could you paste the full output somewhere?  Maybe a gist?

I usually use MRI 2.2.2 when developing with Ruboto since it is quicker for small commands.

The version of Ruby you use on the command line is independent of the JRuby version you use inside the Ruboto app.

[2015-10-07 07:50] claudiug commented on #754
Hello @donv

Please find attach the gist

https://gist.github.com/claudiug/47bb65ccdcfe057fcf37

[2015-10-07 08:05] donv commented on #754
Hi @claudiug !

Looks like this is a known bug that has been fixed, but not released:

https://github.com/ruboto/ruboto/issues/717
https://github.com/ruboto/ruboto/pull/728

If you are able to use Ruboto master, then it should work.  To use Ruboto master, you need to check out the source and run `rake install`.

[2015-10-07 08:12] donv commented on #732
Hi @kinsomicrote !

Sorry for not replying earlier.  The release manager needs to communicate with the other team members to check if they are ready for release.  Then manage the issues by moving them to the correct GitHub milestone.  Then run the simple commands to do the actual gem release as described in https://github.com/ruboto/ruboto/wiki/Release-process .

[2015-10-07 08:14] claudiug commented on #754
Hi @donv,

I will do it now :+1:

thx

[2015-10-07 08:31] claudiug commented on #754
Hello @donv

[code]

[2015-10-08 10:40] claudiug commented on #754
@donv ping!
:)

[2015-10-09 13:31] donv commented on #732
Looks like we are moving forward with the Ruboto 1.3.1 release.  @danielpassos will be doing the release.  Woohoo!  :+1:

[2015-10-09 13:35] donv commented on #754
Hi @claudiug !

Sorry for not responding.  GitHub did not notify me.  I don't know why not.

Did you try Ruboto master?  Did it work?  Did you get

        *** Ruboto setup is OK! ***

In that case, the next step is to complete one or more of the tutorials:

https://github.com/ruboto/ruboto/wiki/Tutorials-and-examples

On the way, please report back problems you have here, and update the wiki as n

[2015-10-09 13:39] donv commented on #749
Hi @petervojtek !

Did you find the Ruboto code that sets the `defaultMx="-XmxnnnnM"` setting in the `dx`script?  Maybe we could add something that avoids setting it too high?  Currently we check to see if we need to **increase** the setting.  Maybe we should check if we should **lower** it for 32-bit systems as well.  Feel free to submit a pull request if you see how to improve it.

[2015-10-09 13:43] donv commented on #723
@gfowley @danielpassos Sorry for the incredibly long delay.  What name would you like for the repository?

[2015-10-12 13:59] donv commented on #710
Sorry for late response.  Still working on getting a new release out with @danielpassos .

[2015-10-12 14:40] gfowley commented on #723
@donv: My understanding is that the repo name will be  ```ruboto-tutorials```. There will be a subdirectory (or module?) for each tutorial.
@danielpassos: Is that right ?

[2015-10-12 19:56] danielpassos commented on #732
I'm on it!

[2015-10-12 20:09] danielpassos commented on #723
`ruboto-tutorials` or `ruboto-cookbooks` both are good repo names to me

[2015-10-12 21:02] danielpassos opened #755 "Ruboto setup is looking for haxm_kext_loc in wrong directory."
The last version (1.1.5) of Intel HAXM are using folder `/Library/Extensions/intelhaxm.kext` instead of `/System/Library/Extensions/intelhaxm.kext` it make setup always fail.

_[https://github.com/ruboto/ruboto/blob/master/lib/ruboto/util/setup.rb#L190](https://github.com/ruboto/ruboto/blob/master/lib/ruboto/util/setup.rb#L190)_
[code]

[2015-10-13 06:51] donv commented on #723
@gfowley @danielpassos @daneb I created a new repository:  https://github.com/ruboto/ruboto-tutorials  Tell me if there is anything more I need to do.

[2015-10-14 19:31] #755 closed

[2015-10-14 19:40] donv commented on #732
Well done, @danielpassos !  Ruboto 1.3.1 is out!

[2015-10-14 19:40] danielpassos commented on #732
http://ruboto.org/news/2015/10/14/Ruboto-1.3.1-release-doc.html

[2015-10-14 19:40] #732 closed

[2015-10-14 20:49] daneb commented on #732
Well done Daniel!

On 14 Oct 2015, 9:40 PM +0200, Uwe Kubosch<notifications@github.com>, wrote:

[2015-10-14 21:38] donv commented on #426
<table>
<tr><th>Version</th><th>Codename</th><th>API</th><th>Distribution</th><th>Cumulative</th></tr>
<tr><td>5.1</td><td>Lollipop</td><td>22</td><td>7.9%</td><td>7.9%</td></tr>
<tr><td>5.0</td><td></td><td>21</td><td>15.6%</td><td>23.5%</td></tr>
<tr><td>4.4</td><td>KitKat</td><td>19</td><td>38.9%</td><td>62.4%</td></tr>
<tr><td>4.3</td><td>Jelly Bean</td><td>18</td><td>4.3%</td><td>67.7%</td></

[2015-10-23 10:39] donv opened #756 "Allow "ruboto setup --update" to update HAXM if a new version is available"
Currently `ruboto setup` will download and install HAXM if it is missing.  `ruboto setup` will also list the current version as "old".

`ruboto setup` should add proper version comparison and download and install a newer version if it is available.

Anyone up for it?

[2015-10-23 11:08] daneb commented on #756
I can take a stab at it !

On 23 Oct 2015, 12:39 PM +0200, Uwe Kubosch<notifications@github.com>, wrote:

[2015-10-23 13:25] daneb commented on #756
Sorry Donv, just saw the "labels" - would your prefer a newcomer to tackle?

[2015-10-26 12:31] daneb commented on #756
@donv Are you happy if I go ahead with this? Or would you like a newcomer to ruboto?

[2015-10-26 13:30] donv commented on #756
@daneb Sorry for the late answer.  GitHub did not notify me.  I don't know why not.

Please go ahead!  The label is to guide newcomers, not to hinder the more experienced :smile:

[2015-11-16 14:11] donv commented on #426
<table>
<tr><th>Version</th><th>Codename</th><th>API</th><th>Distribution</th><th>Cumulative</th></tr>
<tr><td>6.0</td><td>Marshmallow</td><td>23</td><td>0.3%</td><td>0.3%</td></tr>
<tr><td>5.1</td><td>Lollipop</td><td>22</td><td>10.1%</td><td>10.4%</td></tr>
<tr><td>5.0</td><td></td><td>21</td><td>15.5%</td><td>25.9%</td></tr>
<tr><td>4.4</td><td>KitKat</td><td>19</td><td>37.8%</td><td>63.7%</td>

[2015-11-16 14:20] donv opened #757 "Release 1.4.0"
OK, we should do a push for a new release this month.  @danielpassos are you up for it?  I will start going through issues today and pick the lowest hanging fruit, and prioritize new contributors.  I hope as many as possible can pitch in.  Any and all help is appreciated.  If you just close one issue, you have helped the project a lot :smile:

[2015-11-23 04:09] NAVNEETOJHA opened #758 "How can I help? (NAVNEETOJHA)"
Hi!

I'd like to contribute to the Ruboto project.

My earlier experience with Ruby, Java, Android and Ruboto:
I am having 2 years of experience in Java and an year of experience in Ruby, and new for android, but I having great learning power, so it will take no time for me to learn android also.

My experience with HTML, CSS, JavaScript, and Jekyll:
Almost from last 4 years I am working on HTM, C

[2015-11-25 11:49] donv commented on #758
Hi @NAVNEETOJHA !

Welcome to the project!  Feel free to look around the project and browse the documentation.

Step one for contributing is to get Ruboto installed and completing your first tutorial.  Check out the WIKI and go through the Getting Started section.  Report back here your successes and problems :)

https://github.com/ruboto/ruboto/wiki
https://github.com/ruboto/ruboto/wiki/Getting-s

[2015-11-25 11:55] donv commented on #757
@danielpassos I see you are busy, but can you make time to release 1.3.2 given there are solved issues for it?

[2015-11-25 11:56] donv commented on #756
Hi @daneb !

Any progress?

[2015-11-25 11:57] donv commented on #754
Hi @claudiug !

Have you managed to set up Ruboto?

[2015-11-25 12:11] danielpassos commented on #756
Hey @donv not sure if I understand what is the problem. Could you check if it's related of this fix => https://github.com/ruboto/ruboto/commit/a99913502a239cc8f8952aa343d898620482413b

[2015-11-25 12:12] danielpassos commented on #757
Sure.

[2015-11-25 12:16] donv commented on #756
@danielpassos the "problem" is that if we find an old version of HAXM installed, we just leave it as it is.  We should download and install a new version if it is available.

[2015-11-25 12:21] danielpassos commented on #756
Gotcha. I'll try simulate that

[2015-11-25 22:02] daneb commented on #756
@donv Just started. Do we need to download and install a new version of Intel HAXM since it comes with the SDK, but rather check if (OS_INTEL_HAXM < CURRENTLY_USED_SDK_INTEL_HAXM) ?

[2015-11-25 22:46] donv commented on #756
I would prefer `ruboto setup -y --update` to download and install HAXM if a newer version is available from the Android SDK site.

Alternatively, we can warn that a newer version is available.  Then the developer can download and install the new version herself manually.  Or maybe just download and let Ruboto install it.

Or use a new command `ruboto update setup` and/or `ruboto update haxm` to le

[2015-12-01 10:16] donv opened #759 ""ruboto gen jruby" should install jruby-jars ~>1.7"
We should not install JRuby 9.x since it does not works with Ruboto, yet.

[2015-12-01 11:30] donv opened #760 "rake screenshot"
[code]

should result in something like

[code]

[2015-12-01 19:13] daneb commented on #756
Thanks Don, setup -y sounds reasonable to me!

[2015-12-01 19:33] daneb commented on #756
@donv scratch that -> https://software.intel.com/sites/default/files/haxm-macosx_r05.zip   ;)

[2015-12-02 05:19] daneb commented on #756
Hi @donv

Here is a look at the direction I am going - what do you think?

https://github.com/ruboto/ruboto/compare/db_haxm?expand=1

[2015-12-02 07:35] donv commented on #756
Looks good.

I generally prefer "update" to "upgrade".

Why is an "--upgrade-haxm" option needed for "ruboto gen app" ?

[2015-12-02 07:52] daneb commented on #756
Gen app was a previous path, will remove it.

Thanks Uwe, will keep going!

On Wed, Dec 2, 2015 at 9:35 AM Uwe Kubosch <notifications@github.com> wrote:

[2015-12-03 15:41] joeymetal commented on #555
https://edelivery.oracle.com/otn-pub/java/jdk/7/jdk-7-windows-x64.exe
this linkk not work
ruby -S ruboto setup ou  ruboto setup
 do you do not you have a private repository?

[2015-12-03 20:48] daneb commented on #756
@donv Do you have any recommendations around getting Intel HAXM installation package? That is, it's format is like such and there is unfortunately no repository reference:
 https://software.intel.com/sites/default/files/haxm-macosx_r05.zip

These are my options,
1. Depend on new Android SDK UPDATE for Intel HAXM upgrade
2. Use a regex to "retry" till it finds a working URL version (eg. r03.zip, r0

[2015-12-04 12:05] donv commented on #756
I have not looked at this for a while, but we should be able to extract the correct download URL from the android XML files.  We (used to?) do this for the initial installation of HAXM.  We should be able to do the same for updates.

[2015-12-04 12:16] donv commented on #555
Hi @joeymetal !

Please open a new issue for this.

[2015-12-04 23:32] joeymetal opened #761 "JDK 7"
https://edelivery.oracle.com/otn-pub/java/jdk/7/jdk-7-windows-x64.exe
this linkk not work
ruby -S ruboto setup or ruboto setup
do you do haven't a private repository?

[2015-12-05 04:47] daneb commented on #761
Why do you need this link? Can you show me a screenshot or paste error message?

If you do need it - it's unsupported.

http://www.oracle.com/technetwork/java/javase/downloads/jdk7-downloads-1880260.html

Dane

On 05 Dec 2015, 1:32 AM +0200, joeymetal<notifications@github.com>, wrote:

[2015-12-07 20:19] daneb commented on #756
I initially checkout out the default repository[1-10].xml but did not find it there. But after some tracking down, found it's location.
https://dl-ssl.google.com/android/repository/extras/intel/addon.xml

Cool, will use that!

[2015-12-07 20:23] donv commented on #756
Nice!

[2015-12-10 21:39] daneb commented on #756
@donv finished the implementation - busy working on testing. Hope to be done soon.

[2015-12-11 08:08] juanjogeta opened #762 "How can I help? (juanjogeta)"
Hi!

I'd like to contribute to the Ruboto project.

My earlier experience with Ruby, Java, Android and Ruboto:

I have worked with ruby for two years. I have used some technologies and gems and I have helped to create Bizneo.com

I have used Java in my studies, and a little of Android, but I'm not and expert.

My experience with HTML, CSS, JavaScript, and Jekyll:

I have experience with HTML, CSS

[2015-12-11 08:32] daneb commented on #762
Hello JuanJogeta

Welcome to the project! Feel free to look around the project and browse the
documentation.

Step one for contributing is to get Ruboto installed and completing your
first tutorial. Check out the WIKI and go through the Getting Started
section.

PS. During this process you may even find opportunities to update the
documentation or raise an issue with existing guides. Report back h

[2015-12-11 08:34] juanjogeta commented on #762
Thanks!

I'll try to do my best.

Cheers,
Juanjo

2015-12-11 9:32 GMT+01:00 Dane Balia <notifications@github.com>:

[2015-12-11 14:08] donv commented on #756
Great @daneb !  Keep it up!

[2015-12-15 11:25] donv commented on #716
Hi @hirschnase !

Looks like I have run into the same problem on one of my own apps.  Expect a fix or workaround soon.

[2015-12-16 01:08] rayto opened #763 "can't create any apps."
Here is the terminal:

[code]

what does this part mean and how do I fix it?

[code]

 Thanks

[2015-12-16 07:19] donv commented on #763
Hi @rayto !

The error message indicates that the `adb` command is not on your path.  The error message should be better.

What does `ruboto setup -y` output?

[2015-12-16 11:14] donv commented on #716
This may be relevant:  https://android.googlesource.com/platform/frameworks/multidex/+/dd3cc22f2fbc8ea4dd5fa88978dc8d1ae5034bd9/library/src/android/support/multidex/MultiDex.java

[2015-12-16 11:20] donv opened #764 "Investigate using https://android.googlesource.com/platform/frameworks/multidex"
This could potentially replace our own multidex handling.

https://android.googlesource.com/platform/frameworks/multidex

[2015-12-16 17:14] donv commented on #756
Hi @daneb !

I am testing master now, and it seems to always install HAXM when I run `ruboto setup -y`.  I would expect it to not install anything the second time I run it, and display the current version as 1.1.1 and report "Ruboto setup is OK".

[code]

[2015-12-16 17:24] donv commented on #735
http://developer.android.com/tools/building/building-cmdline.html

[2015-12-16 20:38] daneb commented on #756
Sounds good - will add functionality to my existing change

On 16 Dec 2015, 7:16 PM +0200, Uwe Kubosch<notifications@github.com>, wrote:

[2015-12-17 00:40] rayto commented on #763
it seems to be ok.
[code]

[2015-12-18 19:21] donv commented on #756
@daneb Any chance you can complete this this weekend?

[2015-12-18 19:26] #759 closed

[2015-12-18 19:28] donv opened #765 "`rake boing` fails for multiple updated files"

[2015-12-18 19:31] donv opened #766 "Reduce noise on #ruboto channel from travis"

[2015-12-18 19:31] #765 closed

[2015-12-18 19:31] #766 closed

[2015-12-18 19:53] donv opened #767 "TypeError: can't convert nil into String when running Ruboto tests"

[2015-12-18 19:53] #767 closed

[2015-12-18 20:49] donv commented on #716
Hi @hirschnase !

I think I have identified and fixed the problem.  Are you able to test it from the master source?

https://github.com/ruboto/ruboto#from-source

I would really appreciate getting a confirmation on this.

[2015-12-18 21:13] donv opened #768 "Add support for Android 6.0 Marshmallow"
Make sure the matrix tests run OK locally and add Android 6.0 api level 23 to the travis build.

[2015-12-18 21:36] daneb commented on #756
Hi @donv
I will do so!

[2015-12-18 21:53] donv opened #769 "Fetch jruby-jars snapshots from http://ci.jruby.org/ for testing"

[2015-12-18 22:39] #769 closed

[2015-12-18 22:49] donv commented on #763
Hi @rayto !

Are you sure the app is not created?  The output suggests that it is.  Is there a directory called `quick_start`?  If so, try to go into that directory and build using `rake debug`.

[2015-12-18 23:01] donv commented on #751
Hi @endyeyes @gfowley !

Any follow up on this one?

[2015-12-18 23:15] donv commented on #426
<table>
<tr><th>Version</th><th>Codename</th><th>API</th><th>Distribution</th><th>Cumulative</th></tr>
<tr><td>6.0</td><td>Marshmallow</td><td>23</td><td>0.5%</td><td>0.5%</td></tr>
<tr><td>5.1</td><td>Lollipop</td><td>22</td><td>13.2%</td><td>13.7%</td></tr>
<tr><td>5.0</td><td></td><td>21</td><td>16.3%</td><td>30.0%</td></tr>
<tr><td>4.4</td><td>KitKat</td><td>19</td><td>36.6%</td><td>66.6%</td>

[2015-12-19 14:46] donv commented on #756
@daneb Submit a pull request as soon as you have something green in travis.  We need to make the changes as small as possible to make merging easy.

[2015-12-20 12:42] donv commented on #756
Hi @daneb !

Looking good for closing this today?

[2015-12-20 14:45] daneb commented on #756
Hi Uwe

I'm hoping to work on it tonight.

I'm at the last phase of installing the package after mounting the Image (bug).

If I can crack that will send a PR.

Dane

On 20 Dec 2015, 2:42 PM +0200, Uwe Kubosch<notifications@github.com>, wrote:

[2015-12-20 14:49] donv commented on #756
Great!  Best of luck to you!  :smile:

[2015-12-20 20:40] daneb commented on #756
Hi @donv

Ok I've got a working upgrade to Intel HAXM in db_haxm. The git diff is ugly given indentation (which I want to fix). However it's not a PR because I've got some concerns around the size and complexity of the change.

So what I would like to do,
a) Create a dark launch subset of functionality which won't affect existing functionality (Pull Request 1) (with tests)
b) Create another PR 2,

[2015-12-20 21:28] donv commented on #756
@daneb Sounds good.

We will release on Christmas eve, 24th of December.  Make sure we have green builds then.

Looking forward to PR1 and PR2.  :smile:

BTW: Don't change the Ruboto version on the branch.  We change the version on master only.

[2015-12-21 21:07] daneb commented on #756
Hi @uwe

Added in change for Dark Launch.
Awaiting CI.

Will keep you in the loop.

D

On Sun, Dec 20, 2015 at 11:28 PM Uwe Kubosch <notifications@github.com>
wrote:

[2015-12-22 20:03] ChaosCat opened #771 "How can I help? (ChaosCat)"
Hi!

I'd like to contribute to the Ruboto project.

My earlier experience with Ruby, Java, Android and Ruboto:
Four years of programming experience in java, one year of experience in Ruby and three months of android programming experience (with Ruboto).

My experience with HTML, CSS, JavaScript, and Jekyll:
Intermediate level in HTML and CSS, basic knowledge in JavaScript, and almost no experience

[2015-12-22 20:28] donv commented on #771
Hi @ChaosCat !

Welcome to the Ruboto project!  We are very happy to have you with us!

I am especially excited that you have already used Ruboto.  Can you tell a bit about what you have done with Ruboto already?

Your ambitions sound just perfect!  Better documentation and learning resources would make our project so much better.

I would like to make your entry into the project as pleasant as po

[2015-12-22 20:39] donv commented on #658
Hi @gfowley !

Proper debugging for Ruboto would be a killer feature!  How is this coming along?

[2015-12-22 20:58] gfowley commented on #658
Hi Don,

I've been a bit busy lately, but I'm looking forward to completing this over the holidays.

The devs of the linecache and ruby-debug projects have kindly accepted PRs and published gems with the changes require to support debugging with Ruboto.

I need to update (ie; simplify) the tutorial. That will reduce it to a much simpler how-to demonstration and a short list of changes for Ruboto.

[2015-12-22 21:07] daneb commented on #756
Hi @donv

Struggling to get tests to run on my machine.
My Dark Launch branch is ready, manually tested and passing in CI.

Shall I do a PR? db_haxm_dark

Dane

[2015-12-22 22:21] #722 closed

[2015-12-22 22:21] donv commented on #722
Bonus is that we no longer need to modify the installed skin files in the Android SDK.

[2015-12-22 22:30] donv commented on #756
@daneb Yes!  Go for it!

[2015-12-22 22:31] donv commented on #756
@daneb What does "dark launch" mean?

[2015-12-22 22:35] daneb commented on #756
Hi @uwe

By dark launch I mean that PR will setup for the new feature but not make
it accessible.
So I've put on the building blocks in place in this first PR.

I've got the tests running yeah! But our coverage for command/util/setup.rb
is near non-existent.
I will issue PR and then try add some tests to the next PR which will
contain the --update for HAXM.

Thanks
D

On Wed, Dec 23, 2015 at 12:31

[2015-12-22 22:37] donv commented on #757
@ruboto/team-ruboto The plan is to release Ruboto 1.3.2 on December 24th.

Please follow up the issues that are linked to milestone 1.3.2 to which you are assigned.  Either get feedback if needed, postpone to 1.3.3 if there is more to do, or close.

[2015-12-22 22:42] donv commented on #703
@daneb is this covered by your changes?  Can we close it?

[2015-12-22 22:45] donv commented on #716
Hi @hirschnase !

This has now been fixed and will be in the upcoming Ruboto 1.3.2 release.

[2015-12-22 22:45] #716 closed

[2015-12-22 22:45] daneb commented on #703
I believe I've fixed that a while back  - will double check

[2015-12-22 22:48] donv commented on #686
I believe this has been fixed in the upcoming Ruboto 1.3.2 release.

[2015-12-22 22:48] #686 closed

[2015-12-22 22:55] donv commented on #687
Done!  Support for Android 2.3 dropped!  This means we also drop support for Android 3.x since there are no current devices running that.  Usage of Android 2.3 is 3.4%.

We will keep support for Android 4.0.3 api level 15 for a while since I have a customer with tablets using 4.0.3 still.

[2015-12-22 22:55] #687 closed

[2015-12-22 22:58] donv commented on #688
Yeah @danielpassos , it is done.  Just forgot to update the ticket.  Closing it for the 1.3.2 release so it is announced properly.

[2015-12-22 22:58] #688 closed

[2015-12-22 23:08] donv commented on #747
This seems to have improved when starting the emulator without a skin and using newer Android tooling.

[2015-12-22 23:08] #747 closed

[2015-12-22 23:12] donv commented on #669
I believe this has been fixed in the upcoming 1.3.2 release.  Please open a new issue if you still have problems.

[2015-12-22 23:12] #669 closed

[2015-12-22 23:14] donv commented on #670
No response for over a year, so closing :smile:

[2015-12-22 23:14] #670 closed

[2015-12-22 23:17] donv commented on #634
Closing this for now.  Please open a new issue if you encounter this (or another) problem.

[2015-12-22 23:17] #634 closed

[2015-12-22 23:20] donv commented on #638
I believe Ubuntu 64 bit is pretty common now, and we can rely on new reports to get things working.  Closing this.  Open new issues for setup on Ubuntu 64 bit if you have any.

[2015-12-22 23:20] #638 closed

[2015-12-22 23:23] donv commented on #655
Hi all!

Ruboto 1.3.2 will be released this week.  Is there anything we need to do regarding this issue?

[2015-12-22 23:26] donv commented on #663
Hi all!

Anyone tried this with a newer Ruboto release?

[2015-12-22 23:27] donv commented on #717
@daneb Is this something you have covered in your changes?

[2015-12-22 23:29] donv commented on #664
Hi @pmpbar !

Did you try it with a newer release?

[2015-12-22 23:31] donv commented on #727
Hi @danielpassos !

How is this coming along?

[2015-12-22 23:33] donv commented on #750
@RubyRebbe @gfowley Any progress on this?

[2015-12-22 23:41] donv commented on #738
Hi @KCErb !

Sorry for the late reply.

Creating an Intent for a new Activity should be pretty straight forward.  Your code was correct, just missing the package for your activity class, and the `java_class` call.

[code]

There are many ways of starting a new activity.  Some of them are documented here:

https://github.com/ruboto/ruboto/blob/master/test/activity/navigation_activity.rb

Feel free

[2015-12-22 23:45] donv commented on #763
Hi @rayto !

Was the directory `quick_start` created?  Were you able to build the project?

[2015-12-22 23:47] donv commented on #761
Hi @joeymetal and @daneb !

Any news on this?

[2015-12-23 00:47] ashes999 commented on #663
Gosu-Android is a dead project. I wouldn't recommend pursuing this.

[2015-12-23 04:43] daneb commented on #756
@donv  Please find PR
https://github.com/ruboto/ruboto/pull/772/files

Will follow up tonight with the second with some basic tests

[2015-12-23 08:22] donv commented on #663
Gosu-Android seems like a worthwhile idea.  Hopefully it can be revived.

@zackp30 maybe you want to contribute to Gosu-Android?

[2015-12-23 08:23] donv commented on #756
The PR looks good!  Merge it, or I will!  :smile:

[2015-12-23 08:39] daneb commented on #703
Yip this was fixed and will be resolved with new change with new feature to upgrade HAXM

[2015-12-23 08:39] #703 closed

[2015-12-23 09:07] donv commented on #745
Hi @spiderOO7 and @danielpassos !

Any follow up on this?

[2015-12-23 09:13] donv commented on #757
@danielpassos Are you ready to make a release tomorrow?  The release should actually be prepared today to make time for testing.  Especially the RELEASE_DOC should be committed today.

If you do not have the time, I can ask @daneb to do it or do it myself.

[2015-12-23 09:17] donv opened #773 "Release 1.4.1"
@ruboto/team-ruboto  Who wants to be release manager for the 1.3.3 release in january?  I would like as many as possible to know how to release Ruboto, and I will help along the way.

Having new people making releases also helps making the release process smoother.

Speak up, anyone!

[2015-12-23 09:21] donv commented on #754
Hi @claudiug !

We are releasing Ruboto 1.3.2 tomorrow.  It has several nice additions you should try.

I would love to hear from you on your progress with Ruboto.

[2015-12-23 09:31] donv opened #774 "Publish ruboto gem to AWS S3"
For successful builds in travis, we should publish the ruboto gem to AWS S3 or other free download site for people to try out fixes.

cloning the source and running `rake reinstall` should not be hard, but downloading is even easier :smile: .

[2015-12-23 09:34] donv commented on #744
Hi @sumanthkrishna and @danielpassos !

Any follow up on this?

[2015-12-23 09:36] donv commented on #726
@makuchaku @gfowley Any progress on this issue?

[2015-12-23 09:41] donv commented on #712
Seems like this is fixed for the original poster. @ghost @webofbits

[2015-12-23 09:41] #712 closed

[2015-12-23 11:03] ChaosCat commented on #771
I used ruboto mostly through my Android device, the experience was really fine and I was excited about the idea of using my phone for testing, but there were a few points that I found unpleasant (*by my experience with ruboto on my pc is way better but AI

*   too many script errors and a lot of pretty fundamental functions weren't supported such as the '.chomp' and the 'range()' methods/classes,

[2015-12-23 11:07] donv commented on #771
Hi @ChaosCat !

These are really good insights.  We love hearing real-world stories of using Ruboto.

Ruboto uses JRuby 1.7.x which means it supports Ruby 1.9.3 syntax and libraries.  #chomp and range methods present in Ruby 1.9.3 should all be available.  If not, that is a good issue to open in the tracker.

Which text editor did you use?  The one built into Ruboto-IRB or the web editor, or somet

[2015-12-23 11:38] jjgh commented on #655
@KCErb if I remember correctly, you have to do "rake install" to compile and install the application.

[2015-12-23 11:43] danielpassos commented on #757
Hi @donv Unfortunately I cannot get this one. I'm travelling.

[2015-12-23 11:45] donv commented on #757
@danielpassos absolutely no problem :smile:

@daneb would you like to take a stab at releasing tomorrow?  I can do all the preparations.

[2015-12-23 12:15] donv commented on #655
So, this seems resolved.

[2015-12-23 12:15] #655 closed

[2015-12-23 12:21] donv commented on #758
Hi @NAVNEETOJHA !

How are you coming along with Ruboto?

[2015-12-23 12:24] donv commented on #664
Marking this as fixed.  Please open a new issue if you still have problems.

[2015-12-23 12:24] #664 closed

[2015-12-23 12:56] ashes999 commented on #663
@zackp30 if you plan to take over gosu-android, that's a different story. Their readme clearly states:

For this reason, I created an alternative called [Terrace](https://github.com/ashes999/terrace), which is a lightweight Ruby wrapper around libGDX. LibGDX is pretty mature, and the wrapping work is pretty simple. It's also a dead project.

That's probably your best bet for running games on top o

[2015-12-23 13:20] zackp30 commented on #663
I probably won't be able to, since I have exams coming up.

Sorry. :frowning:

[2015-12-23 13:43] daneb commented on #757
I would like to get my feature in - so can I confirm tonight after the PR ;)

But yes I would !!!!!

On 23 Dec 2015, 1:45 PM +0200, Uwe Kubosch<notifications@github.com>, wrote:

[2015-12-23 14:18] donv commented on #663
No problem.  Come back after the exams.  :smile:

[2015-12-23 14:18] #663 closed

[2015-12-23 14:47] donv commented on #757
OK, @daneb this release is yours.  I'll start the preparations.  We should get it all ready today and release before 12pm tomorrow.

[2015-12-23 14:54] donv commented on #717
OK, I'll assume that this was fixed in #728.

[2015-12-23 14:54] #717 closed

[2015-12-23 14:58] ChaosCat commented on #771
I am using the Ruboto IRB built in editor, the (Android Ruboto IRB) console doesn't accept any sort of input. it also says that the object class itself does not support such method as 'range' and 'chomp', I will open an issue regarding the input problem.

In other news, I started using Jekyll and got the hang of it, so I think I can help now with it too.

[2015-12-23 14:59] KCErb commented on #738
Thanks @donv, I'm glad to see all the activity these last few days. Motivates me to do another iteration of the tutorials and test them against the new release. With Christmas break I just might be able to do that.

[2015-12-23 15:00] donv commented on #771
Nice @ChaosCat !

Looking forward to your issues and contributions :smile:

Welcome to the project!

[2015-12-23 15:00] #771 closed

[2015-12-23 15:15] donv commented on #757
Calling the release 1.4.0 now since we have significant new stuff.

[2015-12-23 15:43] donv commented on #738
Great @KCErb !

Is this issue resolved, then?  If so close it and set the milestone to 1.3.2.

[2015-12-23 15:46] KCErb commented on #738
That depends.

I haven't had a chance to actually go back into the broken thing and try it, but it's probably fine.

I notice you marked this as documentation so if you'd like to leave it open until this is documented that is fine. Otherwise you can just close it and I'll ask more questions on this thread if they come up when I get to it (hopefully in the next week).

[2015-12-23 15:55] donv commented on #738
OK, I'll leave it open for 1.4.1.

[2015-12-23 15:57] donv opened #775 "Release 1.5.0"
https://github.com/ruboto/ruboto/wiki/Release-process

[2015-12-23 16:50] pmpbar commented on #664
Sorry about the late reply! I haven't been able to test this but @donv I will make sure to let you know if I see the issue crop up again.

[2015-12-23 17:26] RubyRebbe commented on #750
Thanks for asking!

Ruboto works just fine cross-compiling from my Ubuntu 14.04 laptop to my
android tablet.  Have not been able to get it to work directly under
GNURoot on the tablet.

Tsvi

On Tue, Dec 22, 2015 at 3:33 PM, Uwe Kubosch <notifications@github.com>
wrote:

--
Tsvi Bar-David
www.beitsimchah.net
SF, CA 94121
p:  415-387-6890
c:  415-806-2363
skype: tsvibardavid

[2015-12-23 17:26] donv commented on #664
Great @pmpbar !  Hoping to hear from you about anything Ruboto :smile:

[2015-12-23 17:40] donv commented on #750
OK @RubyRebbe !  Really great to hear of your use of Ruboto!

I'll close this issue since I can't see anything we can do on this for now.

Please open a new issue if you can think of anything we can do to help.

[2015-12-23 17:40] #750 closed

[2015-12-23 19:13] donv commented on #756
Hi @daneb !

Everything going well?

[2015-12-23 20:50] daneb commented on #756
Hi @uwe

Just about to start, let you know in a short while ;)

On Wed, Dec 23, 2015 at 9:13 PM Uwe Kubosch <notifications@github.com>
wrote:

[2015-12-23 21:08] daneb commented on #757
Hi @Uwe

Sounds good. Not sure our time difference?
I am still pushing to get my changes in, just wrapping up some tests!
If you don't see a PR in the next two hours, I will miss the deadline.

On Wed, Dec 23, 2015 at 4:47 PM Uwe Kubosch <notifications@github.com>
wrote:

[2015-12-23 22:49] #761 closed

[2015-12-23 22:50] daneb commented on #761
@joeymetal Please query again if still a problem

[2015-12-23 22:52] daneb commented on #762
@juanjogeta please shout if there is anything we can assist with?

[2015-12-23 22:52] #762 closed

[2015-12-23 23:05] daneb commented on #756
Hi @uwe

Need to crash now, 1:00 AM on this side.
Hopefully CI says YES.

Then we can pick it up tommorrow?

Dane

On Wed, Dec 23, 2015 at 10:50 PM Dane Balia <enteritos@gmail.com> wrote:

[2015-12-23 23:08] donv commented on #756
The test that failed earlier, passed now :smile:  :+1:

Midnight here in Norway :smile:

We'll pick it up in the morning.

[2015-12-23 23:10] daneb commented on #756
Sleep well ;)

On Thu, Dec 24, 2015 at 1:08 AM Uwe Kubosch <notifications@github.com>
wrote:

[2015-12-23 23:12] donv commented on #756
Bummer!  The test failed even if it handled not being able to install on Linux.

Anyway, sleep well :zzz:

[2015-12-24 06:04] daneb commented on #756
Hi @Uwe

Travis is failing again.
For some reason I cannot view the reason or error, it pretends like its
going to load the error but nothing ever shows up.
You have similar problems?

Dane

On Thu, Dec 24, 2015 at 1:12 AM Uwe Kubosch <notifications@github.com>
wrote:

[2015-12-24 08:25] donv commented on #756
I am trying to reproduce locally now.  Can you reproduce in your environment?

@daneb Maybe we could chat on IRC #ruboto or https://gitter.im/ruboto/ruboto ?  It is a bit quicker.

[2015-12-24 10:04] #757 closed

[2015-12-24 10:04] #756 closed

[2015-12-24 20:07] ChaosCat opened #777 "Rake command fails"
I updated to the new version of Ruboto (and uninstalled all previous versions) the `rake` command fails to generate the APK seems to be having something to do with the ANT installation or the Rake gem itself (although I have the newest versions and the system paths are correctly set for each)
this how the build error looks like in CMD:

[code]

and below is the full output with `--trace` option:

[2015-12-24 23:40] donv commented on #777
Hi @ChaosCat !

Thanks for the report!

So, it looks like the build failed in line 212 of `build.xml`.  That is where the `dex` operation signals failure with a non-zero exit code.  Right before this, it prints the output from the `dex` command, which should be the cause of your problem.

So, what is printed right before the `BUILD FAILED`line?

[2015-12-25 01:09] joeymetal commented on #761
Hello @daneb and @donv
the error was that was setting the path of java 7 wrong, but now it's all right thanks you

[2015-12-25 13:52] ChaosCat commented on #777
The maximum heap size is exceeded the maximum heap size allowed
[code]

[2015-12-25 13:57] ChaosCat commented on #777
Is there a way to decrease the reserved memory for the VM by an argument or by editing the build.xml file?

[2015-12-25 21:42] donv commented on #777
Hi @ChaosCat !

Are you running on a 32 bit system?

You can specify the desired head size for the `dex` command by setting the `DX_HEAP_SIZE` system environment variable.  This is read here:  https://github.com/ruboto/ruboto/blob/1.4.0/assets/rakelib/ruboto.rake#L558

I would like to extract this into a setting in the `ruboto.yml` file.  It should be as easy as reading the `ruboto.yml` file and c

[2015-12-25 21:52] donv commented on #777
Discussed earlier here:

* https://github.com/ruboto/ruboto/issues/749
* https://github.com/ruboto/ruboto/issues/668
* https://github.com/ruboto/ruboto/issues/478
* https://github.com/ruboto/ruboto/issues/405

https://github.com/ruboto/ruboto/search?q=dex+heap+size&type=Issues&utf8=%E2%9C%93

[2015-12-25 21:55] donv opened #778 "Add a setting in "ruboto.yml" for the desired dex_heap_size"
* https://github.com/ruboto/ruboto/issues/777
* https://github.com/ruboto/ruboto/issues/749
* https://github.com/ruboto/ruboto/issues/668
* https://github.com/ruboto/ruboto/issues/478
* https://github.com/ruboto/ruboto/issues/405

https://github.com/ruboto/ruboto/search?q=dex+heap+size&type=Issues&utf8=%E2%9C%93

[2015-12-25 21:55] donv commented on #777
Added an issue for this:  https://github.com/ruboto/ruboto/issues/778

[2015-12-25 21:57] donv opened #779 "Differentiate the default dex heap size for 32-bit systems"
This line:

https://github.com/ruboto/ruboto/blob/1.4.0/assets/rakelib/ruboto.rake#L558

sets the dex heap size to 4096.  This should be lowered to something sensible (3072? 2560?) on 32 bit systems since they have problems allocating 4GB.

[2015-12-25 21:59] donv commented on #777
@ChaosCat Important!

The Rake task only INCREASES the dex heap size in the `dx` command script.  You need to manually lower it in the `dx` script file to make it lower than 4096.

[2015-12-26 09:14] ChaosCat commented on #777
I am running a 64 bit system, I tried setting the system environment variable manually to 2048 or even 1028 but with no success, same issue, same errors are thrown:
[code]
 I also tried adding logic for making sure the `MINIMUM_DEX_SIZE` can't be higher than 2048. didn't really help, it just keeps resetting it to 4096
BTW I have 4Gb RAM, maybe this is what's causing the issue?

[2015-12-28 09:29] NAVNEETOJHA commented on #758
Hey, I have just started working on it, will tell you my experience soon.

Thanks

[2015-12-28 23:21] juanjogeta commented on #762
@daneb Could you indicate me some issues in order to learn about ruboto, please? Thanks

[2015-12-29 06:01] daneb commented on #762
Hello @juanjogeta

Great stuff. If you have made some progress through the Getting Started, you could possibly tackle:
#778 or #779

@donv would be of great assistance on those two if you need guidance.

Dane

[2016-01-02 23:30] donv opened #780 "Update "rake log" to handle output from Android 6.0"

[2016-01-02 23:32] #780 closed

[2016-01-04 12:03] donv commented on #614
Upstream support for multidex from Android 5.0:
http://developer.android.com/tools/building/multidex.html

[2016-01-04 13:20] donv commented on #737
I have posted a bounty for this on Bountysource  [![Bountysource](https://api.bountysource.com/badge/issue?issue_id=22760953)](https://www.bountysource.com/issues/22760953-make-jruby-9000-work-with-ruboto?utm_source=22760953&utm_medium=shield&utm_campaign=ISSUE_BADGE)

[2016-01-04 13:30] miseler commented on #737
It's unclear if the bounty is for what the headline says ("Make JRuby 9000 work with Ruboto") or just for the optional compiler thing, unless You are sure that the optional compiler is the only remaining hurdle.

[2016-01-04 13:34] donv commented on #737
Hi @miseler !

Thanks for the interest in the issue!  The bounty is for getting the default app started with JRuby 9K and getting the current test suite green in travis-ci.

[2016-01-04 18:46] donv opened #781 "Add xhdpi version of the default app icon"
`assets/res/drawable-hdpi/ic_launcher.png` is currently our highest resolution default Ruboto app icon.  It is 72x72px

We should add `assets/res/drawable-xhdpi/ic_launcher.png`.  It should be 96x96px.

@ruboto/team-ruboto anyone up for it?

[2016-01-05 07:37] donv opened #782 "Do not commit the keystore by default"
Add `*.keystore` to the `.gitignore` file.

[2016-01-05 07:38] #782 closed

[2016-01-05 13:48] donv commented on #778
We should stop patching the `dx` script!  Find another way to set the heap size when calling `dx`!

[2016-01-05 14:20] donv opened #783 "Don't report changing emulator properties when they are not actually changed"
Example:

[code]

In this case the properties were already set to the indicated values.

[2016-01-05 14:20] #783 closed

[2016-01-08 15:40] ahills opened #785 "Setup never finds Platform SDK"
I already have the `android-16` platform SDK installed, but `ruboto setup` could not find it. I let it install, and it still cannot find it:

[code]

It will download, install, and fail to find the SDK as many times as I run `ruboto setup`. How can I correct this behavior?

[2016-01-08 16:04] donv commented on #785
Hi @ahills !

Thanks for the report!

What platform are you on (Windows/Linux/OS X) ?

What is the location of your Android installation?

[2016-01-08 16:05] ahills commented on #785
OK, figured it out. On OS X, when installing the Android SDK, it installs `adb`, `android`, etc into `/usr/local/bin`, but the platform SDK check uses the location of the `android` executable to discover the `platform` directory: `"#{@android_loc}/../../platform"`. I have worked around this problem by putting `$ANDROID_HOME/tools:$ANDROID_HOME/platform-tools` in the *front* of my `$PATH` rather th

[2016-01-08 16:07] donv commented on #785
Yes, absolutely!  We already use ANDROID_HOME for locating several components.  Looking forward to you PR :)

[2016-01-08 16:17] ahills commented on #785
#786—thanks for the snappy response!

[2016-01-08 16:25] #785 closed

[2016-01-09 10:54] donv commented on #785
Hi @ahills !

Do you think you could write a test that fails without your fix and succeeds with the fix?

Commit rights will be given if you do. :smile:

We have existing `ruboto setup`tests in `test/ruboto_setup_test.rb`.  If you decide to go forward, you can add your tests there, or find a better place. :smile:

[2016-01-10 19:50] donv commented on #781
@RedNifre maybe this one is for you?

[2016-01-10 23:17] donv opened #787 "Refresh the benchmark server layout and design"
I have done some work just now:  Add Bootstrap 4 and do some styling.

http://ruboto-startup.herokuapp.com/
https://github.com/ruboto/ruboto_startup_server

[2016-01-11 01:31] gfowley commented on #658
Simplified tutorial now that linecache and ruby-debug are Ruboto compatible.
Updated for Ruboto 1.4.0.
Working on PR for Ruboto changes.

[2016-01-11 01:34] gfowley commented on #751
@endyeyes : Is this still a current issue for you ?

[2016-01-11 01:36] gfowley commented on #726
@makuchaku : Is this still a current issue for you ?

[2016-01-11 09:12] donv commented on #658
Excellent!

[2016-01-11 09:13] donv commented on #773
@gfowley Maybe you could do the january 1.4.1 release?

[2016-01-13 14:57] gfowley commented on #773
Sure, I'd be happy to. This week and weekend are out, but I have time most evenings next week.

[2016-01-15 01:40] franciscoGPS opened #788 "How can I help? (franciscoGPS)"
Hi!

I'd like to contribute to the Ruboto project.

My earlier experience with Ruby, Java, Android and Ruboto:
Im a Java Developer with 3 years in experience. Im relative new to Rails and android, 1+ year
My experience with HTML, CSS, JavaScript, and Jekyll:
Im not very good with frontend languages but I know and understand'em well ...
My experience using git and GitHub:
Relatively new. The same a

[2016-01-18 11:24] donv commented on #773
OK, lets target this week.  You know the procedure?  Feel free to update the release process page, and ask if there anything I can help with.

[2016-01-20 23:56] donv opened #789 "Add support for JRuby 1.7.24"

[2016-01-20 23:58] #789 closed

[2016-01-21 00:00] donv opened #790 "Fix "--update" option for "ruboto setup""

[2016-01-21 00:01] #790 closed

[2016-01-21 02:53] gfowley commented on #773
The process... https://github.com/ruboto/ruboto/wiki/Release-process ...looks pretty straightforward.
I plan on working through it tomorrow (Thursday).

[2016-01-21 11:09] donv commented on #788
Hi @franciscoGPS !

Thanks for your interest in the Ruboto project!

You should start by setting up your Ruboto development environment and create run the default app:

https://github.com/ruboto/ruboto/wiki/Setting-Up-a-Ruboto-Development-Environment

The complete a few of the tutorials:

https://github.com/ruboto/ruboto/wiki/Tutorials-and-examples

Along the way file issues in this tracker when y

[2016-01-21 12:23] donv commented on #787
The server is now deployed with a Bootstrap 4 theme, slightly better than before.

Anyone wanting to improve it is welcome to do so.  Send pull requests, and I will merge.

[2016-01-21 12:23] #787 closed

[2016-01-21 12:28] donv commented on #426
<table>
<tr><th>Version</th><th>Codename</th><th>API</th><th>Distribution</th><th>Cumulative</th></tr>
<tr><td>6.0</td><td>Marshmallow</td><td>23</td><td>0.7%</td><td>0.5%</td></tr>
<tr><td>5.1</td><td>Lollipop</td><td>22</td><td>15.7%</td><td>13.7%</td></tr>
<tr><td>5.0</td><td></td><td>21</td><td>16.9%</td><td>30.0%</td></tr>
<tr><td>4.4</td><td>KitKat</td><td>19</td><td>36.1%</td><td>66.6%</td>

[2016-01-21 12:51] #779 closed

[2016-01-21 12:59] gfowley commented on #773
Current master is failing, last successful test run was:
https://travis-ci.org/ruboto/ruboto/builds/101535369
Shall I release at that commit or wait until you're done with the changes for JRuby 1.7.24 ?

[2016-01-21 13:01] donv commented on #749
I think this has been addressed in #779 .

[2016-01-21 13:01] #749 closed

[2016-01-21 13:03] donv commented on #773
Please wait.  It should be green any time now.  Will stop making changes as soon as it is green :smile:

Closed a couple of issues on 1.4.1.  Make sure they make it into the RELEASE_DOC.

[2016-01-21 13:08] donv commented on #773
@gfowley found the current error.  Starting travis now.  Should be green, but let's see.  How much time do you have?

[2016-01-21 13:14] gfowley commented on #773
It's morning here, I have all day - until 4pm (US Eastern Standard Time). I
can also defer until tomorrow.

-gf-

On Thu, Jan 21, 2016 at 8:08 AM Uwe Kubosch <notifications@github.com>
wrote:

--

-gf-

[2016-01-21 13:31] donv commented on #773
A release today is better than maybe a release tomorrow :smile:

[2016-01-21 14:31] donv commented on #773
@gfowley the build is green!  We are "GO" for launch!

[2016-01-22 04:08] gfowley commented on #773
Final hurdle - permissions on rubygems.org ?

[code]

[2016-01-22 12:06] donv commented on #773
Ah!  Sorry!  @gfowley what is yout email on rubygems.org?

[2016-01-22 12:31] donv commented on #773
@gfowley added access for `gerard.fowley@iqeo.net`.  See if you can publish now.

[2016-01-22 14:34] gfowley commented on #773
Done.

[2016-01-22 14:34] #773 closed

[2016-01-22 14:36] donv commented on #773
Woohoo!  Congratulations!  Well done!   :fireworks:

[2016-01-24 09:57] donv opened #791 "Update RubotoCore to ActiveRecord 4.2"

[2016-01-24 11:34] donv opened #792 "Set emulator name in ruboto.yml"
Example:

[code]

When running `ruboto emulator` in the project, the named AVD is used to start the emulator if it exists.

If the AVD does not yet exists, running `ruboto emulator` should create the AVD as it does now, but use the configured `emulator_name` instead of the currently automatically generated name.

Alternatively:

[code]

Since we can anticipate more options like `skin` to be set so

[2016-01-26 10:11] #791 closed

[2016-01-26 16:19] donv commented on #726
@makuchaku @gfowley I am looking at this now, and it looks like a genuine Ruboto bug :smile:

The SSL tests have not been run for a while.  Activating them now.

[2016-01-26 19:09] #726 closed

[2016-01-27 10:41] donv opened #793 "Fix OpenSSL"
After fixing #726 , we get this:

[code]

[2016-01-27 12:04] donv commented on #793
Looks like this may be the cause:

[code]

[2016-01-27 12:05] donv commented on #793
Got a patch upstream:  https://github.com/jruby/jruby-openssl/commit/00dbb23937e468ef0d83456e53b87ea3e47766b2

Should be in JRuby 1.7.25.

[2016-01-31 17:58] ahills commented on #785
Sorry, somehow I missed this reply! I will try to find time to do it this week.

[2016-01-31 22:59] donv commented on #785
Great!  Looking forward to it!

[2016-02-18 08:48] donv commented on #792
Started a branch on this now:  ruboto _yml_avd

[2016-02-18 09:49] donv opened #795 "Set emulator device name in ruboto.yml"

[2016-02-28 08:39] donv commented on #426
<table>
<tr><th>Version</th><th>Codename</th><th>API</th><th>Distribution</th><th>Cumulative</th></tr>
<tr><td>6.0</td><td>Marshmallow</td><td>23</td><td>1.2%</td><td>1.2%</td></tr>
<tr><td>5.1</td><td>Lollipop</td><td>22</td><td>17.1%</td><td>18.3%</td></tr>
<tr><td>5.0</td><td></td><td>21</td><td>17.0%</td><td>35.3%</td></tr>
<tr><td>4.4</td><td>KitKat</td><td>19</td><td>35.5%</td><td>70.8%</td>

[2016-02-28 20:34] #793 closed

[2016-02-28 21:11] donv opened #797 "Set emulator skin name in ruboto.yml"

[2016-03-10 07:03] AdepuRamMohan opened #799 "How can i help?"
How can i contribute to ruboto?

[2016-03-15 09:29] AdepuRamMohan opened #800 "rake install issue"
After creating a Ruboto Application using "..gen ap..." , when i run **rake install**, i am getting ""error: no devices found"".
What could be the issue here?

[2016-03-18 11:37] rajcybage opened #801 "Error Came Back : Android SDK command dx Not found"
I amusing Ubuntu 14.04 LTS and android-17. I did `ruboto setup` I did not find any folder name build_tools onthe sdk folder. and I have export all the path in .bashrc as per guide. I have also seen https://github.com/ruboto/ruboto/pull/454

[2016-03-27 20:54] rayto commented on #763
Hi, I'm back working on this again and I'm still receiving this same error.
The project is created on the computer, I just can't enter the rake commands without getting this error.
Any suggestions would be much appreciated.
Thanks!

rayto@Time:~/existence$ rake debug
rake aborted!
Errno::ENOENT: No such file or directory - adb version
/home/rayto/existence/rakelib/ruboto.rake:39:in ``'
/home/rayto

[2016-03-27 20:57] donv commented on #763
What does `ruboto setup` **inside the project** say?

What does `which adb` day?

What version of ruboto are you using now?

[2016-03-27 21:09] rayto commented on #763
`ruboto setup`
Java runtime             : Found
Java Compiler            : Found
Apache ANT               : Found
Android Package Installer: Found
Android Emulator         : Found
Android SDK Command adb  : Found
Android SDK Command dx   : Found
Platform SDK android-16  : Found
  *** Ruboto setup is OK! ***

`which adb`
/home/rayto/android-sdk-linux/platform-tools/adb

`ruboto --v`
1.4.1

[2016-03-27 21:11] donv commented on #763
Is the error message still exactly the same?

[2016-03-27 21:13] rayto commented on #763
Yes,

[2016-03-27 21:13] donv commented on #763
Line 39 in `rakelib/ruboto.rake` tries to run the command `adb version`.  What happens if you run that command directly instead of `rake debug`?

[2016-03-27 21:16] rayto commented on #763
rayto@Time:~$ adb version
bash: /home/rayto/android-sdk-linux/platform-tools/adb: No such file or directory

[2016-03-27 21:18] donv commented on #763
OK, so there is your problem.

[2016-03-27 21:18] rayto commented on #763
Ok, whats the solution? and thanks

[2016-03-27 21:19] donv commented on #763
Try updating your toolchain using the `android`command.  It will start the graphical package manager.

[2016-03-27 21:19] donv commented on #763
I don't have the solution, yet :smile: Just happy we have isolated the problem.

[2016-03-27 21:20] rayto commented on #763
I think you (we) are on to something

[2016-03-27 21:21] rayto commented on #763
I'll get back later but its just updating my SDK

[2016-03-27 21:22] donv commented on #763
OK

[2016-03-30 01:59] rayto commented on #763
Ok so now I says:
`Android SDK platform tools not in PATH (adb command not found).`
Do you know how this could be fixed? it seem straight forward

[2016-04-11 08:10] hovancik commented on #799
https://github.com/ruboto/ruboto/wiki/Contributing

[2016-04-14 17:41] qbasicer commented on #726
@gfowley,

Do you have any information on how to do this?  Or is that a separate issue I should raise?

[2016-04-23 07:46] javalovercn opened #802 "java.lang.UnsupportedOperationException: can't load this type of class file"
[code]
it runs on ruboto_core_1_0_5.apk, apk is loaded by DexClassLoader, prints as following
[code]

it seems that there is error on **@ctx.run{}**, what should I do now?

other option information is done for ruboto as follow :
1. System.setProperty("jruby.ji.proxyClassFactory", "org.ruboto.DalvikProxyClassFactory");
2. System.setProperty("jruby.class.cache.path", proxyCache.getAbsolutePath());
3

[2016-04-24 02:15] javalovercn opened #803 "(NoMethodError) undefined method `current' for Java::JavaLang::Thread:Class"
[code]
it throws on ruboto_core_1_0_5.apk,
the apk is loaded by DexClassLoader.

other option information is done for ruboto as follow :
1. System.setProperty("jruby.ji.proxyClassFactory", "org.ruboto.DalvikProxyClassFactory");
2. System.setProperty("jruby.class.cache.path", proxyCache.getAbsolutePath());
3. container.setCompatVersion(org.jruby.CompatVersion.RUBY2_0);
4. container.setCompileMode(o

[2016-04-24 09:17] javalovercn commented on #803
change CompatVersion.RUBY2_0 to CompatVersion.RUBY1_8
it works well now.

[2016-04-24 09:19] donv commented on #803
@javalovercn Well done!

[2016-04-24 09:19] #803 closed

[2016-04-24 09:27] javalovercn commented on #802
read and copy some codes from JRubyAdapter.setUpJRuby(Context appContext), and it works well now.
[code]

[2016-04-24 09:30] donv commented on #802
@javalovercn Glad to hear you solved it!

[2016-04-24 09:30] #802 closed

[2016-04-24 15:58] ipepe opened #804 "Not in wiki: Installing apk's to android phone through Wifi"
Why it's not written anywhere?
UNAuthorized USB device:

[code]

Authorized USB device:

[code]

While connected to USB, start adb server on port 5555

[code]

Disconnect USB from Your android device. Check it's IP address and connect Your ADB through wifi:

[code]

Now if You list devices You can see device connected to ADB:

[code]

And You can easly do:

[code]

[2016-05-06 17:22] #792 closed

[2016-05-06 17:22] #795 closed

[2016-05-06 17:22] #797 closed

[2016-05-06 18:38] donv commented on #426
<table>
<tr><th>Version</th><th>Codename</th><th>API</th><th>Distribution</th><th>Cumulative</th></tr>
<tr><td>6.0</td><td>Marshmallow</td><td>23</td><td>7.5%</td><td>7.5%</td></tr>
<tr><td>5.1</td><td>Lollipop</td><td>22</td><td>19.4%</td><td>26.4%</td></tr>
<tr><td>5.0</td><td></td><td>21</td><td>16.2%</td><td>43.1%</td></tr>
<tr><td>4.4</td><td>KitKat</td><td>19</td><td>32.5%</td><td>75.6%</td>

[2016-05-07 11:49] zackp30 commented on #735
I'd like to do some work on this. Where's the app template stored in the repository?

[2016-05-07 11:49] zackp30 commented on #735
(FYI I'm Zacketh on IRC)

[2016-05-07 13:45] donv opened #805 "Add support for the new emulator 2.0"

[2016-05-07 20:09] #805 closed

[2016-05-07 21:26] donv commented on #735
The base app files are stored under `assets`.

This project may come in handy when packaging JRuby 9.1.0.0:

https://github.com/evant/gradle-retrolambda

[2016-05-07 21:30] donv commented on #737
This may help us:  http://www.java2s.com/Code/Jar/j/Downloadjsr292backportjar.htm

[2016-05-08 15:36] zackp30 commented on #799
(Closing due to non-issue)

[2016-05-08 15:37] zackp30 commented on #799
Whoops, sorry, I didn't follow convention! :)

[2016-05-08 15:41] zackp30 commented on #801
What does `which dx` return?

[2016-05-20 13:12] gvaresh commented on #665
ok . thanks

[2016-07-03 14:07] davenguyen opened #806 "Ruboto setup fails: get_android_sdk_version"
Mac OS X (El Capitan 10.11.5)
ruboto (1.4.1)
ruby (tested on 2.3.1 and 2.2.3)

I just downloaded the ruboto gem and getting a problem when running `ruboto setup -y`:

[code]

I dug into `lib/ruboto/util/setup.rb#get_android_sdk_version` and found that `page_content` returns blank. I checked this using these two lines in a ruby console:

[code]

The link itself still works, and using a different UR

[2016-07-03 14:33] davenguyen commented on #806
I was able to get an AVD created. To install Apache Ant, I used `brew install ant`. To install dx, I ran `android update sdk` and selected "Android SDK Build-tools" from the options under Tools. Let me know if I can help resolve this issue the "proper" way.

[2016-07-04 11:50] donv commented on #806
Hi @davenguyen !

Thanks for the report!  At first glance it looks like https://github.com/ruboto/ruboto/issues/715 , but that should have been fixed for ruboto 1.3.1.

Can you check out the Ruboto source and do a `rake install` to see if the current master works for you?

[2016-07-21 18:28] monochrome-particles opened #809 "JRuby 1.7.22 and Crosswalk issue (multidex) Verification error in java.io.File[] org.jruby.util.JRubyFile.listRoots()"
Recently, I ran into a problem with running Ruboto/JRuby on Android properly.
After some back and forth with @donv, I found a workaround.

Here is the description:
I am using the following versions:
[code]
- Android-21 target
- Crosswalk 19.49.514.4 (works with 17.x as well)
- Android Build tools 23.0.3
- Android SDK 24.4.1
- JRuby 1.7.22 installed

I actually ran into a similar problem as this bu

[2016-10-05 20:17] donv commented on #426
<table>
<tr><th>Version</th><th>Codename</th><th>API</th><th>Distribution</th><th>Cumulative</th></tr>
<tr><td>6.0</td><td>Marshmallow</td><td>23</td><td>18.7%</td><td>18.7%</td></tr>
<tr><td>5.1</td><td>Lollipop</td><td>22</td><td>21.9%</td><td>40.6%</td></tr>
<tr><td>5.0</td><td></td><td>21</td><td>13.1%</td><td>53.7%</td></tr>
<tr><td>4.4</td><td>KitKat</td><td>19</td><td>27.7%</td><td>81.4%</t

[2016-10-14 04:00] moxi opened #810 "Ruboto Core app crashes on Android Nougat"
When I open the Ruboto Core app on Android 7 the app crashes, Here I'm the logcat message:

[code]

[2016-11-09 17:41] arjunmenon opened #811 "Package installer error"
[code]
Have already setup Android Studio.

[2016-11-09 17:46] donv commented on #811
Hi @arjunmenon !

Thanks for the report.  I'll have a look.

[2016-11-09 17:47] donv commented on #775
Starting release of version 1.5.0 now.

[2016-11-15 22:39] donv commented on #426
<table>
<tr><th>Version</th><th>Codename</th><th>API</th><th>Distribution</th><th>Cumulative</th></tr>
<tr><td>7.0</td><td>Nougat</td><td>24</td><td>0.3%</td><td>0.3%</td></tr>
<tr><td>6.0</td><td>Marshmallow</td><td>23</td><td>24.0%</td><td>24.3%</td></tr>
<tr><td>5.1</td><td>Lollipop</td><td>22</td><td>22.8%</td><td>47.1%</td></tr>
<tr><td>5.0</td><td></td><td>21</td><td>11.3%</td><td>58.4%</td>

[2016-11-17 10:30] donv commented on #768
Tests run OK locally, so marking this as completed.  Will add travis tests as soon as possible.

[2016-11-17 10:30] #768 closed

[2016-11-17 10:32] #713 closed

[2016-11-17 10:36] donv commented on #666
I have added a donate button to the README.

[2016-11-17 10:36] #666 closed

[2016-11-17 13:02] donv opened #813 "ArgumentError creating new emulator image (AVD)"
[code]

[2016-11-17 13:02] donv commented on #813
Fixed in 1.5.1.

[2016-11-17 13:02] #813 closed

[2016-11-17 13:03] donv commented on #775
Done!

[2016-11-17 13:03] #775 closed

[2016-11-17 13:05] donv commented on #811
Hi @arjunmenon !

I am working on this now.  Could you try with the new Ruboto 1.5.0 release?

[2016-11-17 13:18] donv opened #814 "Release binaries to GitHub rleleases"
Switch from uploading RubotoCore to the ruboto.org download area to using the GitHub `release` feature:

* https://help.github.com/articles/about-releases/
* https://help.github.com/articles/creating-releases/

[2016-11-17 13:23] donv commented on #814
### Warning from GitHub page build (jekyll):

The page build completed successfully, but returned the following warning:

It looks like you're using GitHub Pages to distribute binary files. We strongly suggest that you use releases to ship projects on GitHub. Releases are GitHub's way of packaging and providing software to your users. You can think of it as a replacement to using downloads to prov

[2016-11-17 13:36] donv opened #815 "Add support for Android 7 Nougat"

[2016-11-17 14:40] donv opened #816 "Set default api level for new apps to 19 (Android 4.4 KitKat)"
This covers almost 90% of the market.

[2016-11-17 14:46] #816 closed

[2016-11-17 15:14] donv opened #817 "Add support for Android 7.1"

[2016-11-17 22:08] donv opened #818 "Error when creating a new emulator image for an app with empty ruboto.yml"
[code]

[2016-11-17 22:09] donv commented on #818
The empty yaml file is read as "false" instead of a hash.

[2016-11-17 22:10] #818 closed

[2016-11-18 08:40] arjunmenon commented on #811
On first run
[code]

I ran those two commands and then,
On second run
[code]

On thing I do not understand is, even though previously I had installed Android Studio, then is it supposed to reinstall more Android packages?

[2016-11-21 13:39] donv opened #819 "Add support for concurrent-ruby gem"

[2016-11-21 13:48] #819 closed

[2016-11-21 13:50] donv opened #820 "Reload scripts with large stack during `rake boing`"

[2016-11-21 13:50] #820 closed

[2016-11-23 16:02] donv commented on #811
Hi @arjunmenon !

Thanks for the feedback.  There are two errors, and I'll fix both:

* The Android Studio tools should be detected
* The tool installation should work

I'll fix both as soon as I can.

[2016-11-25 15:39] donv opened #821 "Update to Android SDK Tools 25"

[2016-11-25 20:08] Merovex opened #822 "How well does Ruboto work with Shoes 4?"
I'm looking to develop something cross-platform. It looks like my option is JRuby, with Ruboto and Shoes. However, I'm not sure whether these two implementations are compatible. Any thoughts?

[2016-11-28 12:53] loloof64 opened #823 "Ruboto 1.5.0 project with flag --with-jruby still asks for Ruboto Core installation"
Hello,

I've just generated an application with the following command

    $ ruboto gen app --package com.loloof64.ruboto.simple_chess_board --name SimpleChessBoard --target android-15 --with-jruby 1.7.26

but when I launch `rake install start` the application still asks for a Ruboto Core installation.

My OS is Ubuntu Gnome 16.10 64 bit, and I successfully setup the ruboto core.

[2016-11-28 18:13] KCErb commented on #822
I've worked a little with Ruboto and used to do a lot more for the Shoes community than I do nowadays.

As is, you'll be writing totally separate code for your Shoes and Ruboto apps, but one of the design features of Shoes 4 is that it has a frontend and backend. The frontend contains the Shoes DSL and the backend implements it. Right now an SWT backend is being developed, but the team is definite

[2016-12-03 13:05] arjunmenon commented on #811
Heya
Any updates?

[2016-12-07 21:34] donv commented on #811
Hi @arjunmenon !

The tools installation is fixed on master.

Detection of Android Studio i spending.

Contributions welcome 😄 .

[2016-12-08 21:56] mvdamme commented on #811
It seems like the Android SDK download pages have changed, I now get the following (both under 1.5.0 and when using master) when I run `ruboto setup -y`:

[code]
Essentially, the regex that looks for the SDK download link doesn't return any results.

[2016-12-17 02:29] at-longhoang opened #824 "undefined method `[]' for nil:NilClass (NoMethodError)"
OS: Ubuntu 16.04 LTS
I ran
[code]
I got an errors
[code]

[2016-12-24 00:32] monochrome-particles commented on #824
Hi there,
Do you have an Android SDK installed on your machine?

[2016-12-24 00:38] monochrome-particles commented on #823
Hi there,
What version of android sdk and build tools are you using?
Is it that after you install and start the app on your device, you get the screen saying "Get Ruboto Core" with a link to Google Play store?
If so, I ran into similar problems in the past, and I got it fixed by simply using build tools 23.0.0.

Source: https://github.com/ruboto/ruboto/issues/809

[2016-12-24 09:45] loloof64 commented on #823
Hello, thanks for your answer. It's been quite ago since I've been trying Ruboto for the last time. But my environment is the same.

I was using Android SDK tools 25.2.3 and I am upgrading it to 25.2.4. And also Android SDK Platform Tools 25.0.1 which I am upgrading to 25.0.3. And also using an x86 emulator (api 23).

I will retry with my already generated project as soon as my update is complete.

[2016-12-24 09:50] loloof64 commented on #823
Yes you're right :)

Simply updating the Android SDK solves the problem.

Thank you again :)

[2016-12-24 09:51] #823 closed

[2016-12-27 09:25] donv opened #825 "Start using the `sdkmanager` to install packages"
It seems `tools/bin/sdkmanager` is a duplicate but better tool for installing Android packages.

[2016-12-27 09:32] donv opened #826 "Rename `assert_matches` to `assert_match` for Minitest compatibility"
`assert_matches` is kept, but deprecated.

[2016-12-27 18:49] donv opened #827 "Assume multi-dex on first build"
Most apps will be multi-dex, so we should assume it on a clean build.

[2016-12-27 20:04] #826 closed

[2016-12-27 20:21] donv opened #829 "Use the new authenticated protocol to manage emulators"

[2016-12-27 20:21] #829 closed

[2016-12-27 20:47] donv commented on #426
<table>
<tr><th>Version</th><th>Codename</th><th>API</th><th>Distribution</th><th>Cumulative</th></tr>
<tr><td>7.0</td><td>Nougat</td><td>24</td><td>0.4%</td><td>0.4%</td></tr>
<tr><td>6.0</td><td>Marshmallow</td><td>23</td><td>26.3%</td><td>26.7%</td></tr>
<tr><td>5.1</td><td>Lollipop</td><td>22</td><td>23.2%</td><td>49.9%</td></tr>
<tr><td>5.0</td><td></td><td>21</td><td>10.8%</td><td>60.7%</td>

[2016-12-27 21:14] #821 closed

[2016-12-27 21:47] donv commented on #817
Running tests for Android 7.1.1 locally:  GREEN

[2016-12-27 21:47] #817 closed

[2016-12-27 21:48] donv commented on #815
Running tests for Android 7 locally, green.

[2016-12-27 21:48] #815 closed

[2016-12-27 21:54] donv commented on #822
I'll mark this one as answered.

[2016-12-27 21:54] #822 closed

[2016-12-31 10:02] loloof64 opened #830 "Rake install does not compile any more."
In my ruboto project, I managed to include JRuby jar and launch application on the emulator without Ruboto core. Then I tried to include external gem by adding it into Gemfile.apk, but now the project does not compile any more.

This is the Gemfile.apk

    source "http://rubygems.org"
    gem 'pgn'

My ruboto

    $ ruboto --version
    1.5.0

My OS is Ubuntu 16.10 64 bits, and I am using rbenv a

[2017-01-20 11:56] oneiros commented on #737
I am very interested in this issue. Given the EOL of JRuby 1.7, ruboto is currently in an unfortunate situation. Also, it would be nice to see if 9000 has any performance improvements on Android.

Sadly, not much seems to have happened. I found a number of issues over at the JRuby tracker. I will list them here for reference, as each holds some tiny piece of information that might be useful:

http

[2017-01-24 07:24] donv commented on #737
Hi David!

I think the way to JRuby 9K usage is clear.  As I see it, the main work is in JRuby and is Java work.  Java hos not changed much in 20 years, so your ancient knowledge is still valid 😄 .

If you manage to clone the JRuby repository and build a jruby-jars gem, you can contribute, even if only by testing changes done.

I do Ruboto work in my spare time, and I am motivated any contribution

[2017-01-25 21:32] Maikhaa opened #831 "How can I help?"
Hi!

I'd like to contribute to the Ruboto project.

My earlier experience with Ruby, Java, Android and Ruboto:
I have basic Ruby knowledge and would love to learn more.

My experience with HTML, CSS, JavaScript, and Jekyll:
I've been working with HTML & CSS for sometime and I'm now working on a API doc project in Jekyll.

My experience using git and GitHub:
Basic.

My other interests and passions:

[2017-01-25 21:41] donv commented on #831
Hi @Maikhaa !

We have several tasks for improving our home page at http://ruboto.org/

Would you like to help out?

[2017-01-25 21:47] Maikhaa commented on #831
Hi @donv! Where can I find more information?

[2017-01-27 08:08] vaemc opened #832 "Hello, How do I compile？"
Thank you developers,Thanks brother！！

What parameters are needed，How do I compile？

![4](https://cloud.githubusercontent.com/assets/16460137/22618703/893740da-eb1e-11e6-986e-2af250c977ef.png)

[2017-01-27 08:12] vaemc commented on #832
I love all of you  forever！！

[2017-01-28 02:13] thomasjslone opened #833 "`` seems to be the same thing as " and ' and system never returns a value"
what if i need to get the shell response, where do terminal/system calls go in android... no ones talking about it on google so im here, i just wanna see ls /mnt/sdcard return my list of stuff

[2017-02-01 11:08] donv commented on #831
Hi @Maikhaa !

Sorry for the late reply.  Lots to do.

You can find the tasks here in the tracker.  Any tasks are OK for you to work on.  If you scan the issues, and maybe select by label (newcomer friendly, documentation, etc.), I'm sure you will find something you can do.

When you find a task you find interesting, put a comment on it to let people know you are looking at it.

If you have any qu

[2017-02-03 09:09] endyeyes opened #834 "Bootstrap File Input Layout"
How to resize bootrap fileinput? How can I resize it to smaller one? and make it default when I select an image? Just like in this image. Im not good in html, javascript, css
![sample](https://cloud.githubusercontent.com/assets/12758871/22585427/cae63eba-ea32-11e6-86f3-dfd23dbb361f.jpg)

[2017-02-03 09:13] #834 closed

[2017-02-03 09:17] endyeyes commented on #834
Sorry Wrong not for ruboto

[2017-02-07 12:59] OrthoDex commented on #774
Hi!

I reckon you are looking for something like this to be setup:
[RubyGems](https://docs.travis-ci.com/user/deployment/rubygems/)
[S3](https://docs.travis-ci.com/user/deployment/s3/)

Do you mind if I take this up?

[2017-02-07 13:09] OrthoDex commented on #660
Hi!
Is this issue still up for grabs?

[2017-02-07 13:10] donv commented on #660
Yes, go for it 👍

[2017-02-07 13:36] OrthoDex commented on #660
Thanks @donv !

Could you point me in the right direction though? Where do I find the widget?

[2017-02-07 13:39] donv commented on #660
Hi @OrthoDex !

You need to fork the GH Pages project:  https://github.com/ruboto/ruboto.github.com

The widget is in the `index.html` file in the root of the repository.

[2017-02-07 13:40] donv commented on #774
Hi @OrthoDex !

That would be great.  Try to integrate this into the `release` Rake task.

[2017-02-07 13:45] OrthoDex commented on #660
Thanks @donv !
I'll get right on it!

[2017-02-07 14:21] OrthoDex commented on #660
Hey @donv ,
Issued a PR [here](https://github.com/ruboto/ruboto.github.com/pull/19)

I had some issues during devlopment, the asset path for custom css and bootstrap were incorrect when running `bundle exec jekyll serve`. I fixed the issue by changing JB Setup.

[2017-02-09 13:16] OrthoDex commented on #774
Alright, I'll issue a PR over the weekend. :smile:

[2017-02-12 08:46] OrthoDex commented on #774
Hey @donv
Issued a PR at #835

[2017-02-17 08:46] oneiros commented on #737
As noted over in https://github.com/jruby/jruby/issues/4004 I have made some progress. I can run (at least some, simple) ruby code on android using a patched version of JRuby 9K.

I can also start a slightly modified¹ ruboto sample app without errors. But now I am stuck :frowning_face:

While the app starts up fine, it does not display anything, but an empty Activity. Nothing is written to the log

[2017-02-17 08:54] donv commented on #737
Hi @oneiros !
This is very interesting!  Do you have a fork with your changes I could try out?

[2017-02-17 08:55] oneiros commented on #737
You can find my patches to JRuby here: https://github.com/oneiros/jruby/tree/android9k

[2017-02-17 14:30] oneiros commented on #737
Oh, one more thing: There was already an exception in `JRubyAdapter.java` for JRuby 9K that I had to change. I changed line 226 from

    final String jrubyHome = (jrubyVersion.startsWith("9.0.0.0") ?

to simply

    final String jrubyHome = (jrubyVersion.startsWith("9") ?

as we are well beyond 9.0.0.0 now.

[2017-02-22 17:54] OrthoDex commented on #774
Hey @donv , is this PR good to go?

[2017-02-28 20:54] donv commented on #774
Hi @OrthoDex !

I left comments on the PR.

[2017-03-15 09:13] donv commented on #811
Looking at this now.

[2017-03-15 09:13] donv commented on #824
Looking at this now.

[2017-03-15 11:29] #811 closed

[2017-03-15 11:29] #824 closed

[2017-03-15 11:39] donv commented on #811
This should be OK now.  Please test and report back.

[2017-03-15 11:39] donv commented on #824
This should be OK now.  Please test and report back.

[2017-03-15 12:05] donv commented on #831
Hi @Maikhaa!

Did you find anything you think you can contribute with?

[2017-03-15 12:07] donv commented on #806
Same as #811 and #824.  Should be fixed now.

[2017-03-15 12:07] #806 closed

[2017-03-15 12:16] donv commented on #804
Hi @ipepe!

The wiki is open for contributors.  Could you add this to a page?

[2017-03-15 12:16] donv commented on #800
Hi @AdepuRamMohan !

Did you figure this out?

[2017-03-15 12:17] donv commented on #799
Hi @AdepuRamMohan !

Have you found anything you want to contribute to Ruboto?

[2017-03-15 12:20] donv commented on #833
Hi @thomasjslone !

Did you figure this out?

[2017-03-15 12:21] donv commented on #832
Hi @vaemc !

Did you figure this out?

[2017-03-15 12:22] donv commented on #830
Hi @loloof64 !

Did you figure this out?

[2017-03-15 13:29] donv opened #836 "Add JRuby jars to new projects by default"

[2017-03-15 13:29] #827 closed

[2017-03-15 13:29] #836 closed

[2017-03-16 09:34] loloof64 commented on #830
Hi @donv,

thanks for your interest, I must admit that very soon since this problem occured, I've given up. I did not manage to solve it.

[2017-03-16 11:53] donv commented on #830
Well @loloof64 , if you would like to give it another shot, please let me know.  Closing for now.

[2017-03-16 11:53] #830 closed

[2017-03-16 11:57] loloof64 commented on #830
It's ok to give a new try

[2017-03-16 12:35] loloof64 commented on #830
Hi again @donv !

I tested `rake install start` again on the same project (setups for Ruboto and Bundler are fine), but I get another error. This one come from Ant, Rake issue seems to have been resolved. But I still don't know why I can't launch my project on emulator.

[ruboto_error.txt](https://github.com/ruboto/ruboto/files/847632/ruboto_error.txt)

I shared [my project on my github account](h

[2017-03-20 00:20] ipepe commented on #804
Currently I am engaged in ruboto project. But if anyone has questions, feel free to poke me.

[2017-03-23 17:22] mvdamme commented on #811
It works perfecly now, thanks!

[2017-03-24 14:02] donv commented on #811
Thanks for verifying! 😄

[2017-03-30 10:33] donv opened #837 "Search for Android SDK (ANDROID_HOME) in ~/Library/Android/sdk/"
This is where Android Studio installs it on macOS.

[2017-03-30 14:26] donv commented on #737
Got this link from @enebo : http://mail.openjdk.java.net/pipermail/mlvm-dev/2017-March/006750.html

[2017-04-16 21:21] MaxPleaner opened #838 "android command in SDK no longer works correctly."
It seems that android team has removed the `android` command from the SDK without much warning.
See https://issuetracker.google.com/issues/37137207
apparently this broke versions of other projects as well, such as unity, ionic, etc

I am using:
android studio 2.3.1
jruby 9.0.1.0
ruboto 1.6.1 (this is the current master branch, i also tried 1.5, which is the latest on rubygems)
java version: openjd

[2017-04-16 21:24] MaxPleaner commented on #838
Figured it out; I needed to manually install the KitKat SDK using this command:

[code]
Feel free to re-open if this is potentially an issue with ruboto itself, but I'll close for now since I'm not 100%  sure that's the case.

[2017-04-17 01:36] MaxPleaner commented on #838
I'm also having a problem now with this:

[code]

let me know if i should open another issue.

[2017-04-17 17:57] MaxPleaner commented on #838
After doing a little more research, I see now that both these examples are the same issue: the android command having been removed from the SDK, apparently without warning.

See https://issuetracker.google.com/issues/37137207
it seems many projects were broken by this, such as unity, ionic, etc

[2017-04-17 18:08] MaxPleaner commented on #825
This is more essential now as the `android` command has been removed in the SDK. See https://github.com/ruboto/ruboto/issues/838

[2017-04-17 18:13] MaxPleaner commented on #833
@donv in the interest of preventing this repo's issues page from having too many open issues, I think stuff like this should be closed and the poster should be advised to try stackoverflow. The "how can I help" stuff should also be closed, in my opinion, because they are not actually open issues at all.

[2017-04-17 18:33] MaxPleaner commented on #838
Granted, it is possible to get this working if using the instructions found in the wiki for getting an older version of the SDK. So perhaps this is an improvement, rather than a bug, or it should simply be stated more clearly in the README that a particular SDK version is required

[2017-04-17 18:54] MaxPleaner commented on #838
I see now that there is still an android command in the newer SDK. It's just in tools/ and not tools/bin/.

However it's not working. This is with version 20.0.3 installing using the script in the wiki.

[code]

[2017-05-03 19:07] nathanmp commented on #824
I have the same problem as of May 2nd.

[2017-05-04 23:58] tomipoc opened #839 "#1 I can't generate simple app [SOLVED]; #2 error in util/verify.rb [I have a solution]"
Hello,

I am getting this issue when I'm trying to generate a new project with ruboto.
I'm developing on WIndows 10. I have tried the current version 1.7.26, and and older 1.7.12 jruby, I have jdk 7 and 8 as well and android 19 revision, but I keep getting this error message (full generation process log): (I have found an another issue, see after the log:)

`c:\Users\Pocok\Desktop\Szakdoga\mscszak

[2017-05-05 00:24] tomipoc commented on #839
The first issue is solved by copying the android sdk folder to a folder without spaces.
The second one can be solved by my suggestion in the description.

[2017-05-05 20:47] donv commented on #839
@tomipoc So, all solved, then?

[2017-05-05 21:00] tomipoc commented on #839
Yes, these issues are solved. Now I'm facing a new issue.
When I create a new project (e.g.: ruboto gen app --package com.org.exampleapp) and I install it with **rake install start**, the app starts but it says i should install ruboto core. I have installed it, started it, then pushed the exit button. When I start the exampleapp again, the same "splash" activity starts and says I should install th

[2017-05-06 08:03] donv commented on #839
Hi @tomipoc !

Try looking in your `adb logcat` output (or `rake log` if it works for you), and look for an Exception while loading JRuby.  Any exception loading JRuby results in the Ruboto Core download dialog.  I'd like to change this, but I am swamped with the JRuby 9K update.

[2017-05-06 08:06] donv commented on #839
@tomipoc You could search for the string "Exception starting JRuby", maybe.

[2017-05-07 08:12] donv commented on #426
<table>
<tr><th>Version</th><th>Codename</th><th>API</th><th>Distribution</th><th>Cumulative</th></tr>
<tr><td>7.1</td><td>Nougat</td><td>25</td><td>0.5%</td><td>0.5%</td></tr>
<tr><td>7.0</td><td></td><td>24</td><td>6.6%</td><td>7.1%</td></tr>
<tr><td>6.0</td><td>Marshmallow</td><td>23</td><td>31.2%</td><td>38.3%</td></tr>
<tr><td>5.1</td><td>Lollipop</td><td>22</td><td>23.3%</td><td>61.6%</td></

[2017-05-07 16:04] tomipoc commented on #839
Thanks for the informations, I will check the logs.
I downloaded the Ruboto IRB project and replaced the ruby script and maniest with my content and it works for now.
I will add my comment when I will have the logs.

[2017-05-08 07:04] tomipoc commented on #839
I have another issue. I tried to create a new SQLiteOpenHelper class
 `class DatabaseHandler < android.database.sqlite.SQLiteOpenHelper`
and I have added a function to recreate the database:
[code]
On this line the app gets stuck:
`db = getWritableDatabase`

I got these in the log:
[code]

Could you please help me to find out what can cause the problem?

[2017-05-11 08:29] tomipoc commented on #839
I have another issue. I can't reach www.ruboto.org page in these days. Or is the page down?

[2017-05-11 20:16] donv commented on #839
@tomipoc Please open separate issues in the tracker for separate problems.

[2017-05-11 20:17] donv opened #840 "Cannot reach ruboto.org"
@headius I think you have the DNS entry.  Is it operational?

[2017-05-11 21:10] tomipoc opened #841 "SQLiteOpenHelper getWritableDatabase not working"
I have another issue. I tried to create a new SQLiteOpenHelper class
 `class DatabaseHandler < android.database.sqlite.SQLiteOpenHelper`
and I have added a function to recreate the database:
[code]
On this line the app gets stuck:
`db = getWritableDatabase`

I got these in the log:
[code]

Could you please help me to find out what can cause the problem?

[2017-05-11 21:12] tomipoc commented on #839
@donv Sorry, I have opened a new issue for SQLiteOpenHelper issue.

[2017-05-15 09:25] donv commented on #841
Not sure what causes this.  I am swamped with other projects right now.  Hopefully someone else can take a look and help you.  If you create a GitHub project with an example app that fails, it should be easy for others to try it and see what is wrong.

[2017-05-16 05:23] donv commented on #824
@nathanmp Are you using Ruboto 1.6.1?

[2017-05-24 23:04] nathanmp commented on #824
@donv I have a different error, actually. I'll open a new issue for it.

[2017-05-24 23:07] nathanmp opened #842 "Setup broken -- FATAL, SDK link cannot be found on download page."
My guess is that the expression used to find the SDK is incompatible with the updated Android Studio website, as it's been updated recently.

Trace:
`
/var/lib/gems/2.3.0/gems/ruboto-1.6.1/lib/ruboto/util/setup.rb:150:in 'get_android_sdk_version'
/var/lib/gems/2.3.0/gems/ruboto-1.6.1/lib/ruboto/util/setup.rb:525:in 'block (2 levels) in install_android_sdk'
/var/lib/gems/2.3.0/gems/ruboto-1.6.1/lib

[2017-05-26 07:02] tomipoc commented on #841
Thanks! I will upload a project to my github and share it here.

[2017-05-28 20:46] Lukyczk commented on #810
I can second this

[2017-05-31 04:58] donv commented on #810
Thanks for the report.  I'll try to get to this soon.

[2017-06-14 07:55] donv commented on #840
@headius Could you see if the DNS for Ruboto is OK?

[2017-06-26 18:07] clfristoe opened #843 "Unable to create an app (Mac)"
When I run the command "ruboto setup", everything is working properly:

![screen shot 2017-06-26 at 11 03 42 am](https://user-images.githubusercontent.com/15655814/27553301-470801ee-5a5f-11e7-90ad-b4590bfeea72.png)

Going off of the Add a Menu tutorial, I then run:
"ruboto gen app --package org.ruboto.examples.menu_example"
and I get this errror:

![screen shot 2017-06-26 at 11 06 23 am](https://u

[2017-06-27 10:15] donv commented on #843
Hi @clfristoe !

Looks like the Android tooling has changed again.  I'll take a look as soon as I can, or you or someone else could investigate.

The issue to switch from the `android` tool to `sdkmanager` tool is #825 .  This looks like the `create project` command has moved as well, maybe to some Android Studio tool.

[2017-06-27 10:17] donv commented on #840
@headius Am I wrong in thinking you have the `ruboto.org` DNS entry?

[2017-09-20 04:48] tricahyana opened #844 "Android Support v4"
i have question, how to include android support v4 (https://developer.android.com/topic/libraries/support-library/setup.html) into Ruboto app?

[2017-10-03 12:18] donv commented on #842
Yes, the web page has changed, again.  I have a fix for this.

[2017-10-03 13:52] #842 closed

[2017-10-07 06:24] arjunmenon opened #845 "FR - Online build, app"
Hey
There should be an option to test rubuto apps directly from the mobile using a developer app, like with Phonegap/Tabris JS
Also, an online build service would tremendously accelerate development without having the user to rely on a perfect system.

These two would be super awesome for development.

[2017-11-12 10:56] toomus commented on #843
@clfristoe To fix app generator, download latest tools release where 'android' tool was available and paste all files from zip to your sdk/tools folder. It also fixes problem with ANT replaced with Grawl.

Link to working tools:
 - Mac: https://dl.google.com/android/repository/tools_r25.2.5-macosx.zip
 - Windows: https://dl.google.com/android/repository/tools_r25.2.5-windows.zip
 - Linux: https://

[2017-11-17 14:15] luisgal93 opened #846 "Why the website is down?"

[2017-11-17 14:41] donv commented on #846
Hi!

@headius can you check the domain settings for ruboto.org ?

[2018-01-04 14:38] arjunmenon opened #847 "Hello World does not work"
Hey
[code]
I have all the latest setup.

[code]

[2018-01-04 14:43] arjunmenon opened #848 "Gen App fails with jruby flag"
Hey
[code]
Without the flag, the command also fails since the newer Android SDK has deprecated many commands.
#847

[2018-01-23 18:02] StanisLoveSid commented on #801
`sudo apt-get install dx`

[2018-02-20 15:43] #745 closed

[2018-02-20 15:44] danielpassos commented on #744
2 years without any comment. Going to close it

[2018-02-20 15:44] #744 closed

[2018-02-20 20:11] danielpassos commented on #799
About a year without comment. I'm going to close it. Feel free to reopen it. Contributors are more than welcome.

[2018-02-20 20:11] #799 closed

[2018-02-20 20:21] danielpassos commented on #846
@donv Any news on this?

[2018-02-20 20:23] danielpassos commented on #832
@vaemc

[code]

[2018-02-20 20:23] #832 closed

[2018-02-20 20:24] danielpassos commented on #831
About a year without any comment, I'm going to close it, feel free to reopen, contributing is more than welcome.

[2018-02-20 20:24] #831 closed

[2018-02-20 20:25] danielpassos commented on #800
About a year without any comment, I'm going to close it, feel free to reopen if you still having a problem.

[2018-02-20 20:25] #800 closed

[2018-02-20 20:25] danielpassos commented on #788
About a year without any comment, I'm going to close it, feel free to reopen, contributing is more than welcome.

[2018-02-20 20:25] #788 closed

[2018-02-20 20:26] danielpassos commented on #758
About 2 years without any comment, I'm going to close it, feel free to reopen, contributing is more than welcome.

[2018-02-20 20:26] #758 closed

[2018-02-21 17:49] donv commented on #846
No news.  The domain is served by @headius , but I have no response from him.

[2018-03-15 17:39] DArkErAsEr-BeAsT commented on #838
hi I seem to have the seem issue as mentioned here.
I'm using ruboto latest version 1.6.1 and I installed android studio and sdk platform manually because the download of it via ruboto gave me a runtime error saying that the given android-project website wasnt valid.
Now that I have all the necessary tools, ruboto is saying that the 'Filter sys-img-x86-android-19 not supported'. Could you please h

[2018-03-29 10:07] donv commented on #846
@headius ping ?

[2018-04-02 21:13] headius commented on #846
Very sorry I missed this for so long! It was an IP address update on Github's end that I never fixed in the DNS records. It's updated now, the site works again, and the DNS change should propagate out shortly (1h TTL).

[2018-04-02 21:13] #846 closed

[2018-04-02 22:11] donv commented on #840
The site is up again!  GitHub changed the IP address of the GitHub Pages hosting servers.

[2018-04-02 22:11] #840 closed

[2018-04-11 08:11] donv commented on #847
I will be looking at this today.

[2018-06-15 01:02] fitmap opened #849 ""ruboto setup" needs to update"
D:\>ruboto setup -y
D:/Ruby24/lib/ruby/gems/2.4.0/gems/main-5.3.2/lib/main/getoptlong.rb:73: warning: constant ::FALSE is deprecated
Java runtime             : Not found
Java Compiler            : Not found
Apache ANT               : Not found
Android Package Installer: Not found
Android SDK Manager      : Not found
Android Emulator         : Not found
Intel HAXM               : Not found
Android

[2018-06-15 14:30] donv commented on #849
The whole tooling of Ruboto needs to be updated since the underlying Android tooling has changed drastically.  This work has started, and any help is appreciated.

[2018-08-15 11:49] mezbahalam opened #850 "getoptlong.rb:73: warning: constant ::FALSE is deprecated"
**OS: macOS Sierra**

**> ruboto --version**
[code]
**> ruboto --help**
[code]

[2018-08-26 08:53] #850 closed

[2018-10-31 22:41] ttych commented on #849
Same issue on Linux.

tools_r seem's to not be available anymore, and replaced by android-studio ?

when using android-studio, it setups the android sdk this way :
[code]

Android studio should be using a recipe :
[code]

@donv, I am available to test on Linux.

[2018-11-18 14:16] eladkarako commented on #749
If you are using 32bit installation of java, it is best to use a smaller value,
for example `-Xmx2048m`.
if you are using a 64bit installation of java you can use this value,
and if you have any issues, you can explicitly use `-d32` argument for java (not to be placed in `JAVA_TOOL_OPTIONS`).

on Windows batch file `run.cmd` you can use:

[code]

[2018-12-13 12:52] kematy commented on #753
app start error

[2018-12-13 12:58] kematy commented on #847
Platform SDK android-19  : Not found
reopen cmd line

[2018-12-13 13:04] kematy commented on #753
I do not know what causes the start error, someone said the long path name or file name has Spaces, but I do not have these cases

[2018-12-13 13:09] kematy commented on #753
I had installed ruboto-core,app still ask me to install ruboto-core.

[2018-12-13 13:16] kematy opened #851 "I had installed ruboto-core,app still ask me to install ruboto-core."
I had installed ruboto-core,app still ask me to install ruboto-core.I have no long path or white space in directory.why?

[2018-12-13 13:20] kematy commented on #851
D:\Dev\test>rake
Picked up _JAVA_OPTIONS: -Xmx512M
ant.bat debug
Picked up _JAVA_OPTIONS: -Xmx512M
Buildfile: D:\Dev\test\build.xml
Trying to override old definition of task dex-helper

-set-mode-check:

-set-debug-files:

-check-env:
 [checkenv] Android SDK Tools Revision 25.2.5
 [checkenv] Installed at D:\Dev\android-sdk-windows

-setup:
     [echo] Project Name: Test
  [gettype] Project Type: A

[2018-12-20 08:55] donv commented on #737
Restarting this effort now.

[2019-04-12 14:28] rafaelqueiroz88 opened #852 "How can I help?"
Hi!

I'd like to contribute to the Ruboto project.

My earlier experience with Ruby, Java, Android and Ruboto:
I have good experience with ruby and ruby on rails. I have made a lot's of projects where I work.
I don't have any professional experience with java or android, but I can program those languages without much problems.
Ruboto is completely new to me, but I'm very excited to learn

My exper

[2019-04-26 17:16] #852 closed

[2019-06-04 22:00] nightblade9 opened #853 "Still under development?"
Is Ruboto still under development, or is it abandoned? The last commit was more than 18 months ago.

[2019-06-05 10:54] donv commented on #853
Hi @nightblade9 !

Ruboto is in use in production, and I develop what is needed for maintaining the production apps.

My attention is on Ruboto 2 where the main use is to just include JRuby as a jar in your gradle-based project in AndroidStudio.  This works, but needs more changes in JRuby to accomodate more use cases.

The main development path is through https://github.com/ruboto/JRuby9K_POC

Th

[2019-08-15 14:52] donv commented on #853
We have had great progress with the Proof of Concept, and we are now running simple apps using JRuby 9.2.8.0, with a couple of class loader issues we are working on.

https://github.com/ruboto/JRuby9K_POC

[2019-09-09 15:18] donv commented on #547
This has been abandoned.

[2019-09-09 15:18] #547 closed

[2019-10-03 12:27] donv commented on #853
I am still working on getting some bugs sorted out, but we are nearing a pilot with a production app.

[2019-10-31 17:45] donv commented on #853
Our main production app has now been out for two weeks incidents.

The next steps for Ruboto now is to create recipe for starting a new project and create the necessary packages for support.

I think we can close this issue now.

Check out https://github.com/ruboto/JRuby9K_POC for more info.

[2019-10-31 17:45] #853 closed

[2019-12-01 23:14] aonemd opened #855 "Cannot generate new app"
Hello! I'm just starting out with ruboto and I have `ruboto setup` return OK for everything:

[code]

however, when I try to generate a new app with the command in the README, I get an error message:

[code]

I also get the same error when I try to specify some arguments such as: `$ ruboto gen app --package com.mydomain.test --name Test --target android-19`.

[2020-02-14 23:50] SeanFelipe opened #856 "How can I help?"
Hello everyone ... I'm interested in contributing with Ruboto. I've been using Ruby since 2012 / 1.8.7, mostly in a test role ie. writing test scripts in Ruby to run functional test suites against consumer apps. Here's a skeleton example
https://github.com/SeanFelipe/appiumario

I've done various bits and bobs with Android including something like this:
https://github.com/SeanFelipe/supermariodroi

[2020-02-14 23:52] donv commented on #856
Hi @SeanFelipe !

Welcome!  Can you check out the https://github.com/ruboto/JRuby9K_POC project and see if you can get it running in AndroidStudio in your environment?

[2020-02-15 00:14] SeanFelipe commented on #856
Okay a couple issues ...

gradle build is faliing with `error: package org.jruby.embed does not exist`

Also, ./app/update_jruby_jar.sh is failing, mvn throws an error after downloading a bunch of stuffs. LMK if you'd like that stack trace.

<img width="1101" alt="Screen Shot 2020-02-14 at 4 11 20 PM" src="https://user-images.githubusercontent.com/5632981/74577627-02691400-4f45-11ea-9a8c-9abefe7aa

[2020-02-15 18:17] SeanFelipe commented on #856
unable to execute update_jruby_jar.sh

[code]

[2020-02-23 19:57] donv commented on #856
Hi!

I've been on vacation.  I'll have a look in the next few days.

[2020-04-25 06:58] UnsnappedKhan8 commented on #804
I'm interested in what you have to say and the code you had to write

[2020-04-25 07:01] ipepe commented on #804
It was long time ago, pretty much everything You need to know is in the opening comment

[2020-04-25 07:03] UnsnappedKhan8 commented on #804
When I was a kid I wrote a new code that I think API follows along with everyone else

[2020-07-09 08:02] headius commented on #386
Unsure what else there is to do here. If `initialize` is not getting called, it's a troublesome thing for us to force it to be called.

[2020-07-10 19:46] donv commented on #386
Let's close this and open a new issue if someone needs #initialize to be called.

[2020-07-10 19:46] #386 closed

[2021-12-08 04:07] Ifiht commented on #855
@aonemd , I had the same problem. Your build-tools version is too new, the android command has not only been deprecated ([Google Ref](https://developer.android.com/studio/tools/help/android.html)), but at a certain point using it to create projects was also disabled. I had to downgrade my build-tools to 25.0.3, but even then once you do that the generated project doesn't seem to work. You can look

[2021-12-08 04:11] Ifiht opened #857 "Ruboto "init" is not an option"
For the ruboto version at RubyGems, ruboto does not have an `init` option, and the ruboto 2 setup steps in the README do not work. Is there a newer version somewhere, or a way to compile from source?

[2021-12-08 06:27] aonemd commented on #855
Hey @Ifiht, thank you for your reply. I gave up on using ruboto since it seems a dead project anyway. There are more modern solutions available now to build for Android beside native of course.

[2021-12-08 06:27] #855 closed

[2021-12-24 16:08] Sorunlu opened #860 "Ruboto Core doesn't opening on Android 10"
Hi!

I installed Ruboto Core from ruboto.org. When i try to click on Ruboto Core, it returns "app is not responding". I need help about it.

My phone's specs;
-Brand: TECNO CE7j
-Helio G70 CPU x64
-6 GB RAM
-Android 10

[2022-01-09 18:54] donv commented on #860
Ruboto Core is not in use anymore.  Creating Ruboto apps now uses the approach documented in https://github.com/ruboto/JRuby9K_POC

[2022-01-09 18:54] #860 closed

[2022-01-09 18:55] donv commented on #857
Ruboto now uses the approach documented in https://github.com/ruboto/JRuby9K_POC

[2022-01-09 18:55] #857 closed

[2022-09-09 05:19] SoulGodman opened #861 "rubocop-performa nce v1.11.x."

[2022-09-11 22:07] donv commented on #861
What do you mean?